<template>
  <div>
    <the-content-header title="Berkas"></the-content-header>
    <section class="content">
      <div class="row">
        <div class="col-md-4">
          <download-form
            v-model="download"
            :loading="loading"
            :onSubmit="submitHandler"
          ></download-form>
        </div>
        <div class="col-md-8">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Daftar Berkas</h3>
              <div class="pull-right">
                <button @click="fetchDownloadsHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
              </div>
            </div>
            <div class="box-body">
              <data-table
                :headers="tableHeaders" 
                :rows="downloads" 
                :controls="tableControls"
              >
              </data-table>
            </div>
            <loader v-if="loading"></loader>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';
import DownloadForm from './DownloadForm';

export default {
  components: {
    TheContentHeader,
    Loader,
    DataTable,
    DownloadForm,
  },

  data() {
    return {
      loading: true,
      tableHeaders: [
        { data: 'display_name', label: 'Judul' },
        { data: 'extension', label: 'Ekstensi' },
        { data: 'created_at', label: 'Tanggal' },
      ],
      tableControls: [
        { onClick: this.destroyDownloadHandler, class: 'btn btn-xs btn-danger', label: 'Hapus' },
      ],
      download: {
        id: '',
        display_name: '',
        file: null,
      },
    };
  },

  computed: {
    ...mapState({
      downloads: state => state.download.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchDownloads: 'download/fetchAll',
      storeDownload: 'download/store',
      destroyDownload: 'download/destroy',
    }),

    fetchDownloadsHandler() {
      this.loading = true;
      this.fetchDownloads()
        .then(() => {
          this.loading = false;
        })
        .catch((err) => {
          console.log(err);
        })
    },

    destroyDownloadHandler(id) {
      this.destroyDownload(id)
        .then(() => {
          this.fetchDownloadsHandler();
        })
        .catch((err) => {
          console.log(err);
        });
    },

    submitHandler(e) {
      e.preventDefault();

      const payload = new FormData();
      payload.append('display_name', this.download.display_name);
      payload.append('file', this.download.file);

      this.storeDownload(payload)
        .then(() => {
          this.download = {
            display_name: '',
            file: null,
          };
          this.fetchDownloadsHandler();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },

  mounted() {
    this.fetchDownloadsHandler();
  },
};
</script>
