<template>
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Tambah Berkas</h3>
    </div>
    <div class="box-body">
      <form @submit="submitHandler" role="form">
        <div class="form-group">
          <label>Judul</label>
          <input v-model="value.display_name" type="text" class="form-control" @input="emitChanges">
        </div>
        <div class="form-group">
          <label>File</label>
          <input ref="file" type="file" class="form-control" @change="emitChanges">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg">Simpan</button>
        </div>
      </form>
    </div>
    <loader v-if="loading"></loader>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Loader from '../Base/Loader';

export default {
  components: {
    Loader,
  },

  props: {
    value: {
      type: Object,
      required: true,
    },
    loading: {
      type: Boolean,
    },
    onSubmit: {
      type: Function,
      required: true,
    },
  },

  methods: {
    emitChanges() {
      const payload = {
        id: this.value.id,
        display_name: this.value.display_name,
        file: this.$refs.file.files[0],
      };

      this.$emit('input', payload);
    },

    submitHandler(e) {
      this.onSubmit(e);
    },
  },
};
</script>
