<template>
	<div class="box">
	  <div class="box-header with-border">
	    <h3 class="box-title">Informasi Paper</h3>
	  </div>
	  <div class="box-body">
	    <p>
	      Silakan lakukan penambahan penulis pada paper yang bersangkutan melalui <router-link :to="{ name: 'papers.index' }">area paper</router-link> di bagian <b>edit</b> paper.
	    </p>
	    <p>
	    	Penulis tambahan dianggap valid apabila sudah tercatat dalam minimal 1 paper sehingga berhak untuk mengikuti acara.
	    </p>
	  </div>
	</div>
</template>