<template>
  <div>
    <the-content-header title="Penulis Tambahan"></the-content-header>
    <section class="content">
      <div class="row">
        <div class="col-md-8">
          <sub-registrar-form :editing="1" :loading="loading"></sub-registrar-form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import SubRegistrarForm from './SubRegistrarForm';

export default {
  components: {
    TheContentHeader,
    Loader,
    SubRegistrarForm,
  },

  data() {
    return {
      loading: true,
    };
  },

  methods: {
    ...mapActions({
      fetchRegistrar: 'registrar/fetch',
      destroyRegistrar: 'registrar/destroy',
    }),

    destroyRegistrarHandler(id) {
      this.destroyRegistrar(id)
        .then(() => {
          this.$router.push({ name: 'sub_registrars.index' });
        })
        .catch(err => {
          console.log(err);
        });
    },
  },

  mounted() {
    this.fetchRegistrar(this.$route.params.id)
      .then(() => {
        this.loading = false;
      })
      .catch(err => {
        console.log(err);
      });
  },
};
</script>
