<template>
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Daftar Penulis Tambahan</h3>
      <div class="pull-right">
        <button @click="fetchSubRegistrarsHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
      </div>
    </div>
    <div class="box-body">
      <data-table 
        :headers="tableHeaders" 
        :rows="subRegistrarsList" 
        :controls="tableControls"
      ></data-table>
    </div>
    <loader v-if="loading"></loader>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';

export default {
  components: {
    Loader,
    DataTable,
  },

  props: {
    isRefresh: {
      type: Boolean,
      default: false,
    },
    isByRegistrar: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      loading: true,
      tableHeaders: [
        { data: 'full_name', label: 'Nama' },
        { data: 'parent', label: 'Induk' },
      ],
      tableControls: [
        { onClick: this.editRegistrarHandler, class: 'btn btn-xs btn-primary', label: 'Edit' },
        { onClick: this.destroyRegistrarHandler, class: 'btn btn-xs btn-danger', label: 'Hapus' },
      ],
    };
  },

  computed: {    
    ...mapState({
      subRegistrars: state => state.registrar.data,
      loggedRegistrar: state => state.registrar.logged,
      registrarActive: state => state.registrar.active,
    }),

    subRegistrarsList() {
      let mappedRegistrars = this.subRegistrars.map(registrar => ({
        id: registrar.id,
        full_name: registrar.full_name,
        parent: registrar.parent ? registrar.parent.full_name : '',
      }));
      
      return mappedRegistrars;
    },
  },

  methods: {
    ...mapActions({
      fetchSubRegistrars: 'registrar/fetchAllSubRegistrar',
      fetchSubRegistrarsByRegistrar: 'registrar/fetchSubRegistrarByRegistrar',
      destroyRegistrar: 'registrar/destroy',
    }),

    fetchSubRegistrarsHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        if (!this.isByRegistrar) {
          this.fetchSubRegistrars()
            .then(res => {
              this.loading = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
          }else{
            this.fetchSubRegistrarsByRegistrar(this.loggedRegistrar ? this.loggedRegistrar.id : this.registrarActive.id)
              .then(res => {
              this.loading = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
          }
      });
    },

    editRegistrarHandler(id) {
      this.$router.push({ name: 'sub_registrars.edit', params: { id: id } });
    },

    destroyRegistrarHandler(id) {
      this.destroyRegistrar(id)
        .then(() => {
          this.fetchSubRegistrarsHandler();
        })
        .catch(err => {
          console.log(err);
        });
    },
  },

  watch: {
    isRefresh() {
      this.fetchSubRegistrarsHandler();
    },

    registrarActive() {
      if (!this.loggedRegistrar)
        this.fetchSubRegistrarsHandler();
    }
  },

  mounted() {
    this.fetchSubRegistrarsHandler();
  }
};
</script>