<template>
  <div>
    <the-content-header title="Penulis Tambahan"></the-content-header>
    <section class="content">
      <div class="row">
        <div class="col-md-4">
          <sub-registrar-form v-on:refresh="refresh"></sub-registrar-form>
        </div>
        <div class="col-md-8">
          <sub-registrar-table :isByRegistrar="role.id != 4 ? false : true" :isRefresh="isRefresh"></sub-registrar-table>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import SubRegistrarForm from './SubRegistrarForm';
import SubRegistrarTable from './SubRegistrarTable';

export default {
  components: {
    TheContentHeader,
    SubRegistrarForm,
    SubRegistrarTable,
  },

  data() {
    return {
      isRefresh: false,
    }
  },

  computed: {
    ...mapGetters({
      role: 'loggedUser/role',
    }),
  },

  methods: {
    refresh() {
      this.isRefresh = !this.isRefresh;
    }
  },
};
</script>
