<template>
  <div class="box">
    <div class="box-header with-border">
      <h3 v-if="editing" class="box-title">Informasi Penulis Tambahan</h3>
      <h3 v-else class="box-title">Tambahkan Penulis Tambahan</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label>Nama Lengkap</label>
        <input v-model="registrar.full_name" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Telepon</label>
        <input v-model="registrar.phone" type="text" class="form-control" maxlength="12">
      </div>
      <div class="form-group">
        <label>Alamat</label>
        <textarea v-model="registrar.address" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Institusi</label>
        <input v-model="registrar.organization" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Alamat Institusi</label>
        <textarea v-model="registrar.organization_address" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Paket Tambahan</label>
        <additional-products
          forAdditionalRegistrar
          :productIds="selectedProductIds"
          :excludes="[4, 6]"
          v-on:setProductIds="setSelectedProductIds">
        </additional-products>
      </div>
      <div class="form-group">
        <button @click="save" type="button" class="btn btn-primary">
          <i v-if="editing" class="fa fa-floppy-o"></i>
          <i v-else class="fa fa-plus"></i>
          {{ submitAlias }}
        </button>
      </div>
    </div>
    <loader v-if="loading"></loader>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Loader from '../Base/Loader';
import AdditionalProducts from '../Form/AdditionalProducts';

export default {
  components: {
    Loader,
    AdditionalProducts,
  },

  props: {
    editing: {
      type: Number,
      default: 0,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      registrar: {},
      selectedPaperId: null,
      submitAlias: '',
      alias: ['Tambah', 'Menambahkan...', 'Perbarui', 'Memperbarui...'],
      selectedProductIds: [6],
    };
  },

  computed: {
    ...mapState({
      loggedRegistrar: state => state.registrar.logged,
      registrarActive: state => state.registrar.active,
    }),
  },

  methods: {
    ...mapActions({
      storeRegistrar: 'registrar/store',
      updateRegistrar: 'registrar/update',
    }),

    save() {
      this.submitAlias = this.alias[(this.editing * 2) + 1];

      let registrar = {
        full_name: this.registrar.full_name,
        phone: this.registrar.phone,
        address: this.registrar.address,
        organization: this.registrar.organization,
        organization_address: this.registrar.organization_address,
        product_id: this.selectedProductIds,
      };

      if (this.editing) {
        registrar.id = this.$route.params.id;
        this.updateRegistrar(registrar)
          .then(() => {
            this.$swal({
              title: 'Pembaruan Berhasil',
              text: 'Peserta tambahan berhasil diperbarui.',
              type: 'success',
            });
            this.submitAlias = this.alias[this.editing * 2];
          })
          .catch(err => {
            console.log(err);
          });
      }else{
        registrar.registered_by = this.loggedRegistrar.user_id;
        this.storeRegistrar(registrar)
          .then(() => {
            this.$swal({
              title: 'Penambahan Berhasil',
              text: 'Peserta tambahan telah berhasil ditambahkan.',
              type: 'success',
            });
            this.$emit('refresh');
            this.submitAlias = this.alias[this.editing * 2];
            this.registrar = {};
            this.selectedPaperId = null;
          })
          .catch(err => {
            console.log(err);
          });
      }
    },

    setSelectedProductIds(productIds) {
      this.selectedProductIds = productIds;
    },
  },

  watch: {
    registrarActive() {
      this.registrar = this.registrarActive;
      this.selectedProductIds = this.registrar.products.map(product => product.id);
    }
  },

  mounted() {
    this.submitAlias = this.alias[this.editing * 2];
  },
};
</script>