<template>
  <div class="wrapper">
    <the-header></the-header>
    <the-sidebar></the-sidebar>
    <div class="content-wrapper">
      <router-view></router-view>
    </div>
    <the-footer></the-footer>
  </div>
</template>

<script>
import '../../../../../node_modules/bootstrap/dist/js/bootstrap';
import '../../../../../node_modules/admin-lte/dist/js/adminlte';
import '../../../../../node_modules/jquery-slimscroll/jquery.slimscroll';
import TheHeader from './Base/TheHeader';
import TheSidebar from './Base/TheSidebar';
import TheFooter from './Base/TheFooter';

export default {
  components: {
    TheHeader,
    TheSidebar,
    TheFooter,
  },

  mounted() {
    $('.sidebar-menu').tree();
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import "../../../sass/app.scss";
</style>
