<template>
  <div class="row">
    <div class="col-md-9">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Post</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <input 
              v-model="post.title" 
              @input="$v.post.title.$touch()"
              type="text" 
              class="form-control input-lg" 
              placeholder="Judul Post"
            >
            <span 
              v-if="$v.post.title.$dirty && !$v.post.title.required" 
              class="help-block"
            >
              Judul tidak boleh kosong
            </span>
          </div>
          <div class="form-group">
            <input :value="appUrl + '/' + generatedSlug" type="text" class="form-control input-sm" disabled>
          </div>
          <div class="form-group">
            <textarea ref="content"></textarea>
          </div>
        </div>
        <loader v-if="isLoading"></loader>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Publikasi</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <select 
              v-model="post.hidden" 
              @change="$v.post.hidden.$touch()"
              class="form-control"
            >
              <option value="0">Tampilkan di beranda</option>
              <option value="1">Sembunyikan di beranda</option>
            </select>
            <span 
              v-if="$v.post.hidden.$dirty && !$v.post.hidden.required" 
              class="help-block"
            >
              Status publikasi tidak boleh kosong
            </span>
          </div>
          <div class="form-group">
            <button @click="save" type="button" class="btn btn-block btn-primary">Simpan</button>
          </div>
        </div>
        <loader v-if="isLoading"></loader>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import tinymce from 'tinymce';
import Loader from '../Base/Loader';
import '../../../../../../node_modules/tinymce/themes/modern';
import validator from '../../../validators/post';

export default {
  components: {
    Loader,
  },

  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    editing: {
      type: Boolean,
      default: false,
    },
    saveHandler: {
      type: Function,
      required: true,
    },
  },

  data() {
    return {
      loadingState: this.loading,
    };
  },

  computed: {
    ...mapState({
      post: state => state.post.active,
    }),

    ...mapGetters({
      appUrl: 'appUrl',
    }),

    isLoading: {
      get() {
        return this.loadingState;
      },
      set(value) {
        this.loadingState = value;
      },
    },

    generatedSlug() {
      return this.post.title
        .toLowerCase()
        .split(' ')
        .join('-');
    },
  },

  validations: validator,

  methods: {
    ...mapMutations({
      updateActivePost: 'post/setActivePost',
      clearActivePost: 'post/clearActivePost',
    }),

    ...mapActions({
      fetchPost: 'post/fetch',
    }),

    save() {
      if (! this.$v.$invalid) {
        this.updateActivePost({
          id: this.post.id,
          title: this.post.title,
          slug: this.generatedSlug,
          content: tinymce.activeEditor.getContent(),
          hidden: this.post.hidden,
        });
        this.saveHandler();
      }
    },
  },

  created() {
    this.clearActivePost();
  },

  mounted() {
    tinymce.init({
      target: this.$refs.content,
      height: 500,
      menubar: 'format',
      toolbar: 'bold, italic, underline, strikethrough, alignleft, aligncenter, alignright, alignjustify, cut, copy, paste, bullist, numlist, blockquote, undo, redo, removeformat, subscript, superscript',
      block_formats: 'Paragraph=p;Heading 1=h1;Heading 2=h2;Heading 3=h3;Heading 4=h4;Heading 5=h5',
    });

    if (this.editing) {
      this.fetchPost(this.$route.params.id)
        .then(res => {
          this.updateActivePost(res);
          tinymce.activeEditor.setContent(this.post.content);
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },

  destroyed() {
  },
};
</script>
