<template>
  <div>
    <the-content-header title="Edit Post"></the-content-header>
    <section class="content">
      <post-form :loading="true" :editing="true" :saveHandler="save"></post-form>
    </section>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import PostForm from '../Post/PostForm';

export default {
  components: {
    TheContentHeader,
    PostForm,
  },

  computed: {
    ...mapState({
      post: state => state.post.active,
    }),
  },

  methods: {
    ...mapMutations({
      clearActivePost: 'post/clearActivePost',
    }),

    ...mapActions({
      store: 'post/store',
      fetchPost: 'post/fetch',
      updatePost: 'post/update',
    }),

    save() {
      this.updatePost(this.post)
        .then(res => {
          this.clearActivePost();
          this.$router.push({ name: 'posts.index' });
        })
        .catch(err => {
          console.log(err);
        });
    },
  },

  mounted() {

  },
};
</script>
