<template>
  <div>
    <the-content-header title="Post"></the-content-header>
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Daftar Post</h3>
          <div class="pull-right">
            <button @click="fetchPostsHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
            <router-link :to="{ name: 'posts.create' }" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;Tambah Post</router-link>
          </div>
        </div>
        <div class="box-body">
          <data-table
            :headers="tableHeaders" 
            :rows="posts" 
            :controls="tableControls"
          >
          </data-table>
        </div>
        <loader v-if="loading"></loader>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';

export default {
  components: {
    TheContentHeader,
    Loader,
    DataTable
  },

  data() {
    return {
      loading: true,
      tableHeaders: [
        { data: 'title', label: 'Judul' },
        { data: 'created_at', label: 'Tanggal' },
        { data: ['user', 'email'], label: 'Dipost oleh' },
      ],
      tableControls: [
        { onClick: this.editPostHandler, class: 'btn btn-xs btn-primary', label: 'Edit' },
        { onClick: this.destroyPostHandler, class: 'btn btn-xs btn-danger', label: 'Hapus' },
      ]
    };
  },

  computed: {
    ...mapState({
      posts: state => state.post.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchPosts: 'post/fetchAll',
      deletePost: 'post/destroy',
    }),

    fetchPostsHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        this.fetchPosts()
          .then(res => {
            this.loading = false;
            resolve();
          })
          .catch(err => {
            resolve(err);
          });
      });
    },

    editPostHandler(id) {
      this.$router.push({ name: 'posts.edit', params: { id: id } });
    },

    destroyPostHandler(id) {
      this.deletePost(id)
        .then(res => {
          this.fetchHandler();
        })
        .catch(err => {
          console.log(err);
        })
    },
  },

  mounted() {
    this.fetchPostsHandler();
  },
};
</script>
