<template>
	<section id="breadcrumb">
		<div class="container">
			<div class="row">
				<div class="six columns">					
					<h4 class="title" v-text="getTitle"></h4>
				</div>
				<div class="six columns">
					<span class="link">
						<router-link :to="{ name: 'index' }">Beranda</router-link>
						<span v-for="link in links">
							<i class="fa fa-angle-double-right"></i> <router-link :to="{ name: link.route }"> {{ link.title }} </router-link>
						</span>
					</span>					
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		props: ['links'],
		computed: {
			getTitle() {
				return this.links[this.links.length-1].title;
			}
		}
	}
</script>