<template>
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="five columns left">
					<p>Hak Cipta &copy; Oleh Panitia SENTIKA 2019</p>
				</div>
				<div class="seven columns right">
					<p><i class="fa fa-phone"></i> Stephanie Pamela ( 0818 0480 0005 ), <i class="fa fa-phone"></i> Martinus Maslim ( 0856 4286 5772 )</p>
				</div>
			</div>
		</div>
	</section>
</template>