<template>
	<section id="header">
		<div class="container">
			<div class="row">
				<div class="four columns">
					<router-link :to="{ name: 'index' }" title="SENTIKA">
						<img class="logo" src="../../../../images/nav-logo.png">
					</router-link>
				</div>
				<div class="eight columns">
					<navigation></navigation>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import Navigation from '../Partial/Navigation';

	export default {
		components: {
			Navigation
		}
	}
</script>