<template>
	<section id="maps">
		<h3>Lokasi Acara</h3>
		<iframe :src="mapUrl" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
</template>

<script>
export default {
	computed: {
		mapUrl () {
			return 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.063423564045!2d110.43507221477805!3d-7.783100494390961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5a057e817045%3A0x99d62a41e8193237!2sPlatinum+Adisucipto+Hotel+%26+Conference+Center!5e0!3m2!1sen!2sid!4v1541748374786'
		}
	}
}
</script>
