<template>
	<section id="organizer">
		<div class="container">
			<div class="row">
				<div class="six columns">
					<h5>Diselenggarakan oleh</h5>
					<a href="http://fti.uajy.ac.id/informatika/" target="_blank">
						<img src="../../../../images/logo-prodi.png" style="margin-top: 10px;">
					</a>
				</div>
				<div class="six columns">
					<h5>Didukung oleh</h5>
					<!-- TODO: Change sponsor -->
					<a href="http://kalbis.ac.id/" target="_blank" title="Kalbis Institute">
						<img src="../../../../images/logo-kalbis.png" style="width: 200px;">
					</a>
					<a href="http://www.univpancasila.ac.id/" target="_blank" title="Universitas Pancasila">
						<img src="../../../../images/logo-univ-pancasila.png" style="width: auto; height: 70px;">
					</a>
				</div>
			</div>
		</div>
	</section>
</template>