<template>
	<section id="papers">
		<div class="container">
			<div class="row">
				<div class="six columns">					
					<h4 class="title">Call For Papers</h4>
				</div>
				<div class="six columns">
					<router-link :to="{ name: 'post', params: { slug: 'petunjuk-penulisan-makalah' } }" class="button button-primary">Penulisan Makalah</router-link>
				</div>
			</div>
		</div>
	</section>
</template>