<template>
	<section id="poster">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<h3 class="title">Poster</h3>
					<img src="../../../../images/poster.jpg">
				</div>
			</div>
		</div>
	</section>
</template>