<template>
	<section id="speakers">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<h3 class="title">Pembicara Seminar</h3>
				</div>
			</div>
			<div class="row">
				<div class="six columns left">
					<img src="../../../../images/speaker1.png">
					<div class="desc">
						<p class="name">Prof. Andrea Corradini</p>
						<p class="job">Copenhagen School of Design and Technology, Denmark</p>
					</div>
				</div>
				<div class="six columns right">					
					<img src="../../../../images/speaker2.png">
					<div class="desc">
						<p class="name">Wu Hai Yong, Ph.D.</p>
						<p class="job">Nanjing Xiaozhuang University, China</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>