<template>
	<section id="timeline">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<h3 class="title">Tanggal-Tanggal Penting</h3>

					<section id="cd-timeline" class="cd-container">

						<div class="cd-timeline-block">
							<div class="cd-timeline-img"></div>

							<div class="cd-timeline-content">
								<h2>Penerimaan Full Paper</h2>
								<p>Pemakalah mengunggah full paper miliknya di area peserta masing-masing.</p>
								<span class="cd-date">1 Desember 2018 - 1 Februari 2019</span>
							</div>
						</div>

						<div class="cd-timeline-block">
							<div class="cd-timeline-img"></div>

							<div class="cd-timeline-content">
								<h2>Pengumuman Full Paper Diterima</h2>
								<p>Pemakalah dapat melihat hasil review dan penerimaan full paper miliknya di area peserta masing-masing</p>
								<span class="cd-date">8 Februari 2019</span>
							</div>
						</div>

						<div class="cd-timeline-block">
							<div class="cd-timeline-img"></div>

							<div class="cd-timeline-content">
								<h2>Batas Akhir Pengumpulan Camera Ready Paper dan Pembayaran</h2>
								<p>Pemakalah diharapkan mengunggah camera ready paper miliknya dan bukti pembayaran atas camera ready paper tersebut di area peserta masing-masing sebelum batas akhir.</p>
								<span class="cd-date">15 Februari 2019</span>
							</div>
						</div>

						<div class="cd-timeline-block">
							<div class="cd-timeline-img"></div>

							<div class="cd-timeline-content">
								<h2>Batas Akhir Registrasi Peserta (Non Pemakalah)</h2>
								<p>Calon peserta yang ingin bergabung di seminar atau workshop diharapkan mendaftar dan melunasi biaya pendaftaran sebelum batas akhir.</p>
								<span class="cd-date">1 Maret 2019</span>
							</div>
						</div>

						<div class="cd-timeline-block">
							<div class="cd-timeline-img"></div>

							<div class="cd-timeline-content">
								<h2>Pelaksanaan Seminar</h2>
								<p>Pemakalah dan peserta seminar mengikuti seminar di Platinum Adisutjipto Yogyakarta Hotel & Conference Center.</p>
								<span class="cd-date">13 - 14 Maret 2019</span>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</section>	
</template>

<script>
	import "../../../../../lib/vertical-timeline/js/main"
</script>