<template>
	<section id="workshop">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<h4 class="title">Workshop Tambahan</h4>
					<h5 class="theme">"Image Processing with GPU CUDA"</h5>
					<p>22 Maret 2018<br>08.00 - 16.00</p>
					<router-link :to="{ name: 'registration' }" class="button button-primary">Daftar Sekarang</router-link>
				</div>
			</div>
		</div>
	</section>
</template>