<template>
	<section id="welcome">
		<div class="container">
			<div class="row">
				<div class="eight columns offset-by-two column">
					<h1 class="title">SENTIKA 2019</h1>
					<p>Seminar Nasional Teknologi Informasi & Komunikasi</p>
					<h5 class="theme">"Implementasi Teknologi Cerdas Dalam Industri 4.0"</h5>
					<p v-if="!(true)">Membangun Kemandirian dan Daya Saing Bangsa Menghadapi Tantangan Global</p>
					<router-link :to="{ name: 'registration' }" class="button button-primary">Daftar Sekarang</router-link>
				</div>
			</div>
			<div class="row">
				<div class="six columns">
					<div class="box">
						<span>Waktu</span>
						<p>13 - 14 Maret 2019</p>
					</div>
				</div>
				<div class="six columns">
					<div class="box">
						<span>Tempat</span>
						<p>
							<a :href="locationUrl">
								Platinum Adisutjipto Yogyakarta Hotel & Conference Center
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	computed: {
		locationUrl () {
			return 'https://www.google.co.id/maps/place/Platinum+Adisucipto+Hotel+%26+Conference+Center/@-7.7830952,110.4350722,17z/data=!3m1!4b1!4m5!3m4!1s0x2e7a5a057e817045:0x99d62a41e8193237!8m2!3d-7.7831005!4d110.4372609'
		}
	}
}
</script>
