<template>
  <section class="content-header">
    <h1>
      {{ title }}
      <small v-if="desc">{{ desc }}</small>
    </h1>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    desc: {
      type: String,
    },
  },
};
</script>
