<template>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versi</b> 1.0
    </div>
    <strong>Copyright &copy; 2019 <a href="http://uajy.ac.id">Universitas Atma Jaya Yogyakarta</a>.</strong>
  </footer>
</template>
