<template>
  <header class="main-header">
    <a href="/" class="logo">
      <span class="logo-mini">{{ appAbbr }}</span>
      <span class="logo-lg">{{ appName }}</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../../../../../node_modules/admin-lte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ email }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../../../../../../node_modules/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  {{ email }}
                  <small>{{ role.name }}</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <router-link :to="{ name: 'profile.change_password' }" class="btn btn-default btn-flat">Change Password</router-link>
                </div>
                <div class="pull-right">
                  <form action="/logout" method="POST">
                    <input type="hidden" name="_token" :value="csrf">
                    <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                  </form>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      appName: 'appName',
      appAbbr: 'appAbbr',
      csrf: 'csrf',
      email: 'loggedUser/email',
      role: 'loggedUser/role',
    }),
  },
};
</script>
