<template>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU NAVIGASI</li>
        <li class="treeview">
          <router-link :to="{ name: 'index' }" v-if="role.id != 4">
            <i class="fa fa-dashboard"></i> <span>Beranda</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'posts.index' }" v-if="role.id != 2 && role.id != 4">
            <i class="fa fa-edit"></i> <span>Post</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'registrars.index' }" v-if="role.id != 2 && role.id != 4">
            <i class="fa fa-users"></i> <span>Peserta</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'downloads.index' }" v-if="role.id != 2 && role.id != 4">
            <i class="fa fa-file"></i> <span>Berkas</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'registrars.edit', params: {id: logged.id} }" v-if="role.id == 4">
            <i class="fa fa-user"></i> <span>Area Peserta</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'papers.index' }" v-if="role.id != 4 || isPemakalah">
            <i class="fa fa-file-word-o"></i> <span>Paper</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'review.index' }" v-if="role.id != 4 || isPemakalah">
            <i class="fa fa-commenting-o"></i> <span>Review</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'sub_registrars.index' }" v-if="(role.id != 2 && role.id != 4) || isPemakalah">
            <i class="fa fa-users"></i> <span>Penulis Tambahan</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ name: 'transaction.index' }" v-if="role.id != 2 && role.id != 4">
            <i class="fa fa-usd"></i> <span>Transaksi</span>
          </router-link>
        </li>
      </ul>
    </section>
  </aside>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  data() {
    return {
      selectedProducts: [],
    }
  },

  computed: {
    ...mapGetters({
      role: 'loggedUser/role',
      logged: 'registrar/logged',
    }),

    ...mapState({
      registrar: state => state.registrar.logged,
    }),

    isPemakalah() {
      return this.selectedProducts.includes(1) || this.selectedProducts.includes(2);
    }
  },

  mounted() {
    if (this.registrar !== null) {
      this.registrar.products_login.forEach((e) => {
        if (e != null)
          this.selectedProducts.push(e.id);
      });
    }
  },
};
</script>