<template>
		<select-multi
    	v-model="selectedAdditionalProductIds"
    	:source="additionalProductList"
    	:disabled="isDisabled"
    	placeholder="Paket tambahan yang bisa dipilih oleh peserta"
    	class="form-control"
    />
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import SelectMulti from '../../App/Form/SelectMulti';

	export default {
		components: {
			SelectMulti,
		},

		props: {
	    productIds: {
	      type: Array,
	      required: true
	    },
      isDisabled: {
				type: Boolean,
				default: false,
			},
			excludes: {
				type: Array,
				default: [],
			},
	  },

		data() {
			return {
				selectedAdditionalProductIds: [],
				loopAvoider: 0,
			}
		},

		computed: {
			...mapGetters({
        additionalProducts: 'product/additionalProducts',
      }),

	    additionalProductList() {
	    	const products = this.additionalProducts.map(product => ({
					id: product.id,
					text: product.name,
					price: product.price
				}));
          
        return products.filter(item => this.excludes.indexOf(item.id) < 0);
      },
      
			selectedProductIdList() {
				return [
					this.selectedProductId,
					...this.selectedAdditionalProductIds,
				];
      },
      
			selectedProductId() {
				return this.productIds[0];
			},
		},

		watch: {
			selectedAdditionalProductIds() {
				this.loopAvoider++;
				if (this.loopAvoider > 2)
					this.loopAvoider = 2;
				if (this.loopAvoider > 1)
	  			this.$emit('setProductIds', this.selectedProductIdList);
			},

			productIds() {
				if (this.loopAvoider < 1)
					this.fetchSelectedProductIds();
			}
		},

		methods: {
			...mapActions({
	      fetchProducts: 'product/fetchAll',
			}),
			fetchSelectedProductIds() {
				this.selectedAdditionalProductIds = [...this.productIds];
	  		this.selectedAdditionalProductIds.shift();
			}
		},

		mounted() {
	  	this.fetchProducts();
	  },
	}
</script>