<template>
	<div id="sidebar">
		<aside class="cost-calc">
			<h5 v-if="title">{{ title }}</h5>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Paket</th>
						<th>Harga</th>
					</tr>
				</thead>
				<tbody>
					<tr
            v-for="product in products"
            :key="product.id"
            v-if="isExistOnSelectedIds(product.id) && product.id !== 6"
          >
						<td v-if="product.id == 4">{{ product.name }} @ {{ proceedingQty }} buah</td>
						<td v-if="product.id == 4">Rp {{ formatPrice(product.price*proceedingQty) }}</td>          

						<td v-if="product.id == 1 || product.id == 2">{{ product.name }} @ {{ paperQty }} paper</td>
						<td v-if="product.id == 1 || product.id == 2">Rp {{ formatPrice(product.price*paperQty) }}</td>

						<td v-if="product.id != 4 && product.id != 1 && product.id != 2">{{ product.name }}</td>
						<td v-if="product.id != 4 && product.id != 1 && product.id != 2">Rp {{ formatPrice(product.price) }}</td>
					</tr>
					<tr
            v-for="subRegistrarProduct in subRegistrarProducts"
            :key="subRegistrarProduct.id"
            v-if="subRegistrarProducts.length > 0"
          >
						<td>{{ subRegistrarProduct.name }} @ {{ subRegistrarProduct.qty }} orang</td>
						<td>Rp {{ formatPrice(subRegistrarProduct.total) }}</td>
					</tr>
					<tr>
						<td><b>Total</b></td>
						<td><b>Rp {{ formatPrice(calculateTotal) }}</b></td>
					</tr>
				</tbody>
			</table>
		</aside>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { includes } from 'lodash';
import numeral from 'numeral';

export default {
	props: {
		productIds: {
			type: Array,
			required: true
		},
		proceedingQty: {
			default: 0,
		},
		paperQty: {
			default: 0,
    },
    subRegistrarQty: {
      default: 0,
    },
		subRegistrarProducts: {
			default: null,
		},
		title: {
			type: String
		},
	},

	data() {
		return {
			additionalProductName: 'Penulis Tambahan',
		}
	},

	computed: {
		...mapState({
			products: state => state.product.data,
		}),

		calculateTotal() {
			let total = 0;
			
			this.products.forEach((e) => {
				if (this.isExistOnSelectedIds(e.id)) {
					if (e.id == 4) {
						total += parseInt(e.price) * this.proceedingQty;
					} else {
						if (e.id == 1 || e.id == 2) {
              total += parseInt(e.price) * this.paperQty;
            } else {
							total += parseInt(e.price);
						}
          }

          console.log(e.name, total)
        }
      });

			if (this.subRegistrarProducts != null) {
				this.subRegistrarProducts.forEach((e) => {
					total += parseInt(e.total);
				});
      }

			this.$emit('setCalculatedTotal', total);
			
			return total;
		}
	},

	methods: {
		...mapActions({
			fetchProducts: 'product/fetchAll',
		}),

		isExistOnSelectedIds(id) {
			return includes(this.productIds, id);
		},

		formatPrice(price) {
			return numeral(price).format('0,0');
		},
	},

	mounted() {
		this.fetchProducts();
	}
}
</script>

<style>
	.cost-calc .table tr th:last-child, .cost-calc .table tr td:last-child {
		text-align: right !important;
	}
</style>