<template>
	<div>
		<table v-if="hasFiles" class="table">
			<thead>
				<tr>
					<th>Pratinjau</th>
					<th>Nama</th>
					<th>Ukuran</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="file in files" :class="{success: transaction.verified_by}">
					<td>
						<a :href="file.url" target="_blank" title="Klik untuk perbesar"><img :src="file.url" width="40"></a>
					</td>
					<td>
						{{ file.file_name }}
					</td>
					<td>
						{{ file.size | formatSize }}
					</td>
					<td v-if="!transaction.verified_by">
						Menunggu verifikasi...
					</td>
					<td v-else>
						Telah Terverifikasi
					</td>
					<td v-if="!transaction.verified_by">
						<button @click="remove" type="button" class="btn btn-danger"><i class="fa fa-times"></i></button> 
					</td>
					<td v-else>
						<i class="fa fa-check fa-2" title="Telah Terverifikasi"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-if="!hasFiles">
			<input
		  	ref="file"
		  	type="file"
		  	accept="image/png,image/jpeg,image/jpg"
		  	class="form-control"
		  	style="margin-bottom: 10px;"
		  >
			<p>
				Format					: jpeg/jpg/png<br>
				Ukuran maksimal	: 10 MB
			</p>
			<div class="form-group">
	      <button v-if="!isUploading" @click="upload" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Unggah</button>
	    </div>
			<p v-if="isUploading">Mengunggah...</p>
		</div>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex';
	import http from '../../../services/http';

	export default {
		data() {
			return {
				files: [],
				isUploading: false,
				selectedProducts: [],
			}
		},

		computed: {
			...mapState({
	      transaction: state => state.transaction.active,
	      registrar: state => state.registrar.logged,
	    }),
			hasFiles() {
				return this.files.length > 0;
			},
			hasTransaction() {
				return this.transaction.id != null;
			},
			isPemakalah() {
	      return this.selectedProducts.includes(1) || this.selectedProducts.includes(2);
	    }
		},

		filters: {
			formatSize: function (size) {
			  if (size > 1024 * 1024) {
			    return (size / 1024 / 1024).toFixed(2) + ' MB'
			  } else if (size > 1024) {
			    return (size / 1024).toFixed(2) + ' KB'
			  }
			  return size.toString() + ' B'
			}
		},

		methods: {
			getExtension(filename) {
			    let parts = filename.split('.');
			    return parts[parts.length - 1];
			},

			isImage(filename) {
		    let ext = this.getExtension(filename);
		    switch (ext.toLowerCase()) {
		    	case 'jpeg':
			    case 'jpg':
			    case 'png':
			        return true;
		    }
		    return false;
			},

			checkFile(file) {
				if (file.size <= (1024 * 1024 * 10) && this.isImage(file.name)) {
					return true;
				}
				return false;
			},

			upload() {
				this.isUploading = true;

				let file = this.$refs.file.files[0];

				if (!this.checkFile(file)) {
					this.$swal({
            title: 'Pengunggahan Gagal',
            text: 'File harus berupa gambar (jpeg/jpg/png) dan berukuran kurang dari 10 MB',
            type: 'error',
          });
          return false;
				}

				const payload = new FormData();
	      payload.append('files', file);

	      const successCallback = res => {
					if (res.status === 200) {
						this.$emit('storeReceipt', res.data.id);
						this.isUploading = false;
					}
				};

				const errorCallback = err => {
					const errData = Object.assign({}, err.response);
					console.log(errData);
				};

				http.post('images', payload, successCallback, errorCallback);
	    },

	    fetchImage() {
	    	const successCallback = res => {
					if (res.status === 200) {
						this.files.push(res.data);
					}
				};

				const errorCallback = err => {
					const errData = Object.assign({}, err.response);
					console.log(errData);
				};

				http.get(`images/${parseInt(this.transaction.payment_proof_id)}`, successCallback, errorCallback);
	    },

	    remove() {
	    	this.$emit('removeReceipt');
	    	this.files = [];
	    }
	  },

	  watch: {
	  	transaction() {
	  		if (this.hasTransaction && this.files.length == 0) {
	  			this.fetchImage();
	  		}
		  }
	  },

	  mounted() {
	  	if (this.registrar !== null) {
	      this.registrar.products_login.forEach((e) => {
	        if (e != null)
	          this.selectedProducts.push(e.id);
	      });
	    }
	  	if (this.hasTransaction && this.files.length == 0) {
  			this.fetchImage();
  		}
	  },
	}
</script>

<style>
	table td {
		vertical-align: middle !important;
	} 
</style>