<template>
  <select 
    ref="select" 
    class="form-control" 
    multiple="multiple" 
    :data-placeholder="placeholder">
  </select>
</template>

<script>
import "../../../../../../node_modules/select2/dist/js/select2";

export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
    source: {
      type: Array,
      required: true,
    },
    placeholder: {
      type: String,
    },
  },

  computed: {
    normalizedData() {
      return this.source.map(option => {
        if (this.value.indexOf(option.id) > -1) {
          option.selected = true;
        } else {
          option.selected = false;
        }

        return option;
      });
    },
  },

  watch: {
    source() {
      this.reinitSelect2();
    },

    value() {
      this.reinitSelect2();
    },
  },

  methods: {
    initSelect2() {
      const el = this.$refs.select;

      $(el).select2({
        data: this.normalizedData,
      });
      
      $(el).on('change.select2', e => {
        const data = [];

        for (let i = 0; i < el.options.length; i++) {
          if (el.options[i].selected) {
            data.push(parseInt(el.options[i].value));
          }
        }

        this.$emit('input', data);
      });
    },

    destroySelect2() {
      $(this.$refs.select).empty();
      $(this.$refs.select).select2('destroy');
    },

    reinitSelect2() {
      this.destroySelect2();
      this.initSelect2();
    },
  },

  mounted() {
    this.initSelect2();
  },

  destroyed() {
    $(this.$refs.select).select2('destroy');
  },
};
</script>

<style>
@import "../../../../../../node_modules/select2/dist/css/select2.min.css";

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #3c8dbc;
  border-color: #367fa9;
  padding: 1px 10px;
  color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
}
</style>
