<template>      
  <div>
    <table v-if="registrarsList.length > 0">
      <thead>
        <tr>
          <th v-for="header in tableHeaders">{{ header.label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="registrar in registrarsList">
          <td>{{ registrar.full_name }}</td>
          <td>{{ registrar.product }}</td>
        </tr>
      </tbody>
    </table>
    <p v-if="registrarsList.length <= 0">Belum ada peserta dalam daftar peserta publik.</p>
    <loader v-if="loading"></loader>
  </div>    
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';

export default {
  components: {
    Loader,
    DataTable,
  },

  data() {
    return {
      loading: true,
      tableHeaders: [
        { label: 'Nama' },
        { label: 'Peran' },
      ],      
    };
  },

  computed: {
    ...mapState({
      registrars: state => state.registrar.data,
    }),

    registrarsList() {
      let mappedRegistrars = this.registrars.map(registrar => ({
        full_name: registrar.full_name,
        product: registrar.products[0].name,
      }));
      
      return mappedRegistrars;
    },
  },

  methods: {
    ...mapActions({
      fetchPublicAuthors: 'registrar/fetchPublicAuthors',
    }),

    fetchRegistrarsHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        this.fetchPublicAuthors()
          .then(res => {
            this.loading = false;
            resolve();
          })
          .catch(err => {
            reject(err);
          });
      });
    },
  },

  mounted() {
    this.fetchRegistrarsHandler();
  },
};
</script>
