<template>
  <div>
    <the-content-header title="Edit Data Pendaftar"></the-content-header>
    <section class="content">
      <registrar-form :loading="true" :editing="true" :saveHandler="updateRegistrarHandler"></registrar-form>
      <sub-registrar-table v-if="selectedProductId == 1 || selectedProductId == 2"></sub-registrar-table>
    </section>
  </div>  
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import RegistrarForm from './RegistrarForm/RegistrarForm';
import SubRegistrarTable from '../SubRegistrar/SubRegistrarTable';

export default {
  components: {
    TheContentHeader,
    RegistrarForm,
    SubRegistrarTable,
  },

  data() {
    return {
      selectedProductId: null,
    }
  },

  computed: {
    ...mapState({
      registrar: state => state.registrar.active,
    }),
  },

  methods: {
    ...mapActions({
      updateRegistrar: 'registrar/update',
    }),

    updateRegistrarHandler(registrar) {
      this.updateRegistrar(registrar)
        .then(registrar => {
          this.$swal({
            title: 'Pembaruan Berhasil',
            text: 'Pembaruan yang anda lakukan telah berhasil disimpan.',
            type: 'success',
          });
          this.$router.push({ name: 'registrars.index' });
        })
        .catch(err => {
          console.log(err);
        });
    },
  },

  watch: {
    registrar() {
      this.selectedProductId = this.registrar.products[0].id;
    }
  },
};
</script>
