<template>
  <div>
    <the-content-header title="Peserta"></the-content-header>
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Daftar Peserta</h3>
          <div class="pull-right">
            <button @click="fetchRegistrarsHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <select-multi
                  v-model="selectedProducts"
                  :source="productsList"
                  placeholder="Filter berdasarkan pendaftaran"
                >
                </select-multi>
              </div>
            </div>
          </div>
          <data-table 
            :headers="tableHeaders" 
            :rows="registrarsList" 
            :controls="tableControls"
          ></data-table>
        </div>
        <loader v-if="loading"></loader>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import { intersection } from 'lodash';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import SelectMulti from '../Form/SelectMulti';
import DataTable from '../Table/DataTable';

export default {
  components: {
    TheContentHeader,
    Loader,
    SelectMulti,
    DataTable,
  },

  data() {
    return {
      loading: true,
      selectedProducts: [],
      tableHeaders: [
        { data: 'full_name', label: 'Nama' },
        { data: 'email', label: 'Email' },
        { data: 'products_list', label: 'Paket' },
        { data: 'created_at', label: 'Terdaftar Sejak' },
      ],
      tableControls: [
        { onClick: this.editRegistrarHandler, class: 'btn btn-xs btn-primary', label: 'Edit' },
        { onClick: this.destroyRegistrarHandler, class: 'btn btn-xs btn-danger', label: 'Hapus' },
      ],
    };
  },

  computed: {
    ...mapState({
      products: state => state.product.data,
      registrars: state => state.registrar.data,
    }),

    productsList() {
      return this.products.map(product => ({ 
        id: product.id, 
        text: product.name 
      }));
    },

    registrarsList() {
      let mappedRegistrars = this.registrars.map(registrar => ({
        id: registrar.id,
        full_name: registrar.full_name,
        email: registrar.hasOwnProperty('user') ? registrar.user.email : '',
        products: registrar.products,
        products_list: registrar.hasOwnProperty('products') ? registrar.products.map(product => product.name).join(', ') : [],
        created_at: registrar.created_at,
      }));

      if (this.selectedProducts.length > 0) {
        mappedRegistrars = mappedRegistrars.filter(registrar => {
          const productIds = registrar.products.map(product => product.id);

          return intersection(productIds, this.selectedProducts).length > 0;
        });
      }
      
      return mappedRegistrars;
    },
  },

  methods: {
    ...mapActions({
      fetchProducts: 'product/fetchAll',
      fetchRegistrars: 'registrar/fetchAll',
      destroyRegistrar: 'registrar/destroy',
    }),

    fetchRegistrarsHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        this.fetchRegistrars()
          .then(res => {
            this.loading = false;
            this.fetchProducts();
            resolve();
          })
          .catch(err => {
            reject(err);
          });
      });
    },

    editRegistrarHandler(id) {
      this.$router.push({ name: 'registrars.edit', params: { id: id } });
    },

    destroyRegistrarHandler(id) {
      this.destroyRegistrar(id)
        .then(() => {
          this.fetchRegistrarsHandler();
        })
        .catch(err => {
          console.log(err);
        });
    },
  },

  mounted() {
    this.fetchRegistrarsHandler();
  },
};
</script>
