<template>
	<div id="sidebar">
		<aside>
			<h5>Berkas</h5>
			<ul>
				<li v-for="download in downloads" :key="download.id">
          <a :href="download.url">{{ download.display_name }}</a>
        </li>
			</ul>
		</aside>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      downloads: state => state.download.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchDownloads: 'download/fetchAll',
    }),
  },

  mounted() {
    this.fetchDownloads()
      .then(() => {
        console.log('Done');
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
