<template>
	<ul id="navigations">
		<li><router-link :to="{ name: 'index' }">Beranda</router-link></li>
		<li>
			<a @click="toggleNav" class="informasi">Informasi <i class="fa fa-angle-down"></i></a>
			<ul class="sub-nav">
				<li><router-link :to="{ name: 'post', params: { slug: 'syarat-dan-ketentuan' } }">Syarat & Ketentuan Peserta/Pemakalah</router-link></li>
				<li><router-link :to="{ name: 'post', params: { slug: 'tanggal-tanggal-penting' } }">Tanggal-Tanggal Penting</router-link></li>
				<li><router-link :to="{ name: 'post', params: { slug: 'petunjuk-penulisan-makalah' } }">Petunjuk Penulisan Makalah</router-link></li>
				<li><router-link :to="{ name: 'post', params: { slug: 'susunan-acara' } }">Susunan Acara</router-link></li>
			</ul>
		</li>
		<li>
			<a @click="toggleNav" class="informasi">Daftar ... <i class="fa fa-angle-down"></i></a>
			<ul class="sub-nav">
				<li><router-link :to="{ name: 'proceeding' }">Daftar Paper Dalam Proceeding</router-link></li>
				<li><router-link :to="{ name: 'public_registrars' }">Daftar Peserta Publik</router-link></li>
				<li><router-link :to="{ name: 'public_authors' }">Daftar Pemakalah Publik</router-link></li>
			</ul>
		</li>
		<li>
			<a @click="toggleNav" class="berkas">Berkas <i class="fa fa-angle-down"></i></a>
			<ul class="sub-nav">
				<li v-for="download in downloads" :key="download.id">
					<a :href="download.url">{{ download.display_name }}</a>
				</li>
			</ul>
    </li>
		<li><a href="http://fti.uajy.ac.id/sentika/publikasi/" target="_blank">Publikasi</a></li>
		<li>
			<a href="/panel" class="button"><i class="fa fa-sign-in"></i> {{ signName }}</a>
		</li>
	</ul>
</template>

<script>
	import { mapState, mapActions } from 'vuex';

	export default {
		data() {
			return {
				e: {},
				navName: '',
				pageName: '',
			}
		},
		computed: {
	    ...mapState({
	      downloads: state => state.download.data,
	      loggedUser: state => state.loggedUser.data,
	    }),
	    signName() {
	    	return this.loggedUser.id != null ? 'Area Peserta' : 'Masuk';
	    },
	  },
	  mounted() {
	    this.fetchDownloads()
	      .then(() => {
	        console.log('Done');
	      })
	      .catch((err) => {
	        console.log(err);
	      });
	  },
		methods: {
			...mapActions({
	      fetchDownloads: 'download/fetchAll',
	    }),
			toggleNav(event) {
				this.e = $(event.target);

				if (this.e.attr('class') != this.navName || this.pageName != this.$route.name) {
					this.navName = this.e.attr('class');
					this.pageName = this.$route.name;
					
					this.hideNav();
					this.showNav();
				}else{
					this.resetNav();
				}
			},
			showNav() {
				this.e.next().addClass('show');
				setTimeout(() => window.addEventListener('click', this.resetNav), 0);
			},
			hideNav() {
				$('.sub-nav').removeClass('show');
				window.removeEventListener('click', this.resetNav);
			},
			resetNav() {
				this.navName = '';
				this.pageName = '';
				this.hideNav();
			}
		}
	}
</script>