<template>
  <table id="table" class="table table-striped">
    <thead>
      <tr>
        <th v-for="header in headers">{{ header.label }}</th>
        <th v-if="controls">Tindakan</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in rows">
        <td v-for="header in headers" v-html="extractData(row, header.data)"></td>
        <td v-if="controls">
          <button 
            v-for="control in controls" 
            @click="control.onClick(row.id)"
            type="button"
            :class="control.class"
          >
            {{ control.label }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import "../../../../../../node_modules/datatables.net/js/jquery.dataTables";
import "../../../../../../node_modules/datatables.net-bs/js/dataTables.bootstrap";

export default {
  props: {
    headers: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
    controls: {
      type: Array,
    }
  },

  watch: {
    rows(val) {
      this.reinitDataTable();
    },
  },

  methods: {
    extractData(prop, data) {
      if (! Array.isArray(data)) {
        return prop[data];
      }

      let extractedData = prop;

      data.forEach(row => {
        extractedData = extractedData[row];
      });

      return extractedData;
    },

    initDataTable() {
      $('#table').DataTable();
    },

    destroyDataTable() {
      $('#table').DataTable().destroy();
    },

    reinitDataTable() {
      this.destroyDataTable();
      setTimeout(() => {
        this.initDataTable();
      }, 0);
    },
  },

  mounted() {
    this.initDataTable();
  },

  destroyed() {
    this.destroyDataTable();
  },
};
</script>

<style>
@import "../../../../../../node_modules/datatables.net-bs/css/dataTables.bootstrap.css";

.btn {
  margin-right: 2.5px;
}
</style>
