<template>
	<div class="page-wrapper">
		<the-welcome></the-welcome>
		<the-papers></the-papers>
		<the-speakers></the-speakers>
		<the-timeline></the-timeline>
		<the-poster></the-poster>
		<the-maps></the-maps>
		<the-organizer></the-organizer>
	</div>
</template>

<script>
	import TheWelcome from '../Section/TheWelcome';
	import TheSpeakers from '../Section/TheSpeakers';
	import ThePapers from '../Section/ThePapers';
	import TheTimeline from '../Section/TheTimeline';
	import TheMaps from '../Section/TheMaps';
	import ThePoster from '../Section/ThePoster';
	import TheOrganizer from '../Section/TheOrganizer';
	
	export default {
		components: {
			TheWelcome,
			TheSpeakers,
			ThePapers,
			TheTimeline,
			TheMaps,
			ThePoster,
			TheOrganizer,
		}
	}
</script>