<template>
	<div class="page-wrapper">
		<the-breadcrumb :links="breadcrumbLinks"></the-breadcrumb>

		<section id="page-body">
			<div class="container">
				<div class="row">
					<div class="eight columns">
						<div v-html="post.content"></div>
					</div>
					<div class="four columns">
						<files></files>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import http from '../../../services/http';
import TheBreadcrumb from '../Section/TheBreadcrumb';
import Files from '../Partial/Files';

export default {
  components: {
    TheBreadcrumb,
    Files
  },

  data() {
    return {
      post: {
        title: '',
        content: '',
      },
      loading: true,
    };
  },

  computed: {
    breadcrumbLinks() {
      return [
        { title: this.post.title, route: this.$route.name },
      ];
    },
  },

  watch: {
    '$route.params.slug': function (val) {
      this.fetchPostHandler(val);
    },
  },

  methods: {
    fetchPostHandler(slug) {
      this.loading = true;
      const successCallback = (res) => {
        if (res.status === 200) {
          this.post = res.data;
          this.loading = false;
        }
      };

      const errorCallback = (err) => {
        reject(err)
      };

      http.get(`posts/by-slug/${slug}`, successCallback, errorCallback);
    },
  },

  mounted() {
    this.fetchPostHandler(this.$route.params.slug);
  },
};
</script>