<template>
	<div class="page-wrapper">
		<the-breadcrumb :links="breadcrumbLinks"></the-breadcrumb>

		<section id="page-body">
			<div class="container">
				<div class="row">
					<div class="eight columns">
						<public-authors></public-authors>
					</div>
					<div class="four columns">
						<files></files>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import TheBreadcrumb from '../Section/TheBreadcrumb';
import Files from '../Partial/Files';
import PublicAuthors from '../../App/Registrar/PublicAuthors';

export default {
  components: {
    TheBreadcrumb,
    Files,
    PublicAuthors,
  },

  data() {
    return {
      breadcrumbLinks: [
        { title: 'Daftar Pemakalah Publik', route: this.$route.name }
      ],
      loading: true,
    };
  },
};
</script>