<template>
	<div class="page-wrapper">
		<the-breadcrumb :links="breadcrumbLinks"></the-breadcrumb>

		<section id="page-body">
			<div class="container">
				<div class="row">
					<div class="seven columns">
						<form @submit.prevent="onSubmit">							
							<div class="row">
						  	<div class="six columns">
								  <label>Nama Lengkap</label>
								  <input
								  	v-model="registrar.full_name"
								  	@input="$v.registrar.full_name.$touch()"
								  	:class="{ 'form error': $v.registrar.full_name.$dirty && !$v.registrar.full_name.required }"
								  	class="u-full-width"
								  	type="text"
								  >
								  <span 
			              v-if="$v.registrar.full_name.$dirty && !$v.registrar.full_name.required"
			              class="help-block error"
			            >
			              Nama lengkap tidak boleh kosong
			            </span>
								</div>
								<div class="six columns">
									<label>Telepon</label>
						  		<input
						  			v-model="registrar.phone"
						  			@input="$v.registrar.phone.$touch()"
						  			:class="{ 'form error': $v.registrar.phone.$dirty && (!$v.registrar.phone.required || !$v.registrar.phone.maxLength) }"
						  			class="u-full-width"
						  			type="text"
						  		>
						  		<span 
			              v-if="$v.registrar.phone.$dirty && !$v.registrar.phone.required"
			              class="help-block error"
			            >
			              Telepon tidak boleh kosong
			            </span>
			            <span 
			              v-if="$v.registrar.phone.$dirty && !$v.registrar.phone.maxLength"
			              class="help-block error"
			            >
			              Telepon tidak boleh lebih dari 12 karakter
			            </span>
								</div>
							</div>
						  <div class="row">
						  	<div class="twelve columns">
						  		<label>Email</label>
						  		<input
						  			v-model="registrar.email"
						  			@input="$v.registrar.email.$touch()"
						  			:class="{
						  				'form error': $v.registrar.email.$dirty && !$v.registrar.email.required,
						  				'form warning': $v.registrar.email.$dirty && !$v.registrar.email.email
						  			}"
						  			class="u-full-width"
						  			type="text"
						  		>
						  		<span 
			              v-if="$v.registrar.email.$dirty && !$v.registrar.email.required"
			              class="help-block error"
			            >
			              Email tidak boleh kosong
			            </span>
			            <span 
			              v-if="$v.registrar.email.$dirty && !$v.registrar.email.email"
			              class="help-block warning"
			            >
			              Pastikan email sesuai format.<br>
			              Contoh: sentika@contoh.com
			            </span>
						  	</div>
							</div>
							<div class="row">
						  	<div class="six columns">
						  		<label>Password</label>
						  		<input
						  			v-model="registrar.password"
						  			@input="$v.registrar.password.$touch()"
								  	:class="{ 'form error': $v.registrar.password.$dirty && !$v.registrar.password.required }"
						  			class="u-full-width"
						  			type="password"
						  		>
						  		<span 
			              v-if="$v.registrar.password.$dirty && !$v.registrar.password.required"
			              class="help-block error"
			            >
			              Password tidak boleh kosong
			            </span>
						  	</div>
								<div class="six columns">
						  		<label>Konfirmasi Password</label>
						  		<input
						  			v-model="registrar.password_conf"
						  			@input="$v.registrar.password_conf.$touch()"
								  	:class="{ 'form error': $v.registrar.password_conf.$dirty && !$v.registrar.password_conf.required }"
						  			class="u-full-width"
						  			type="password"
						  		>
						  		<span 
			              v-if="$v.registrar.password_conf.$dirty && !$v.registrar.password_conf.required"
			              class="help-block error"
			            >
			              Konfirmasi password kembali
			            </span>
									<span 
			              v-if="$v.registrar.password_conf.$dirty && !$v.registrar.password_conf.sameAsPassword"
			              class="help-block error"
			            >
			              Password tidak cocok
			            </span>
						  	</div>
						  </div>
						  <div class="row">
						  	<div class="twelve columns">
								  <label>Alamat</label>
								  <textarea
								  	v-model="registrar.address"
								  	@input="$v.registrar.address.$touch()"
								  	:class="{ 'form error': $v.registrar.address.$dirty && !$v.registrar.address.required }"
								  	class="u-full-width"
								  ></textarea>
								  <span 
			              v-if="$v.registrar.address.$dirty && !$v.registrar.address.required"
			              class="help-block error"
			            >
			              Alamat tidak boleh kosong
			            </span>
								 </div>
							</div>
							<div class="row">
								<div class="twelve columns">
									<label>Mendaftar Sebagai...</label>
		              <select
		              	v-model="selectedProductId"
		              	class="u-full-width"
		              >
						        <option
						        	v-for="product in productList"
											:key="product.id"
						        	:value="product.id"
						        	v-text="product.name"
						        >						        	
						        </option>
						      </select>
								</div>								
							</div>
						  <div v-if="!isUAJY">
								<div class="row">
							  	<div class="twelve columns">
									  <label>Nama Instansi</label>
									  <input
									  	v-model="registrar.organization"
									  	@input="$v.registrar.organization.$touch()"
								  		:class="{ 'form error': $v.registrar.organization.$dirty && !$v.registrar.organization.required }"
									  	class="u-full-width"
									  	type="text"
									  >
									  <span 
				              v-if="$v.registrar.organization.$dirty && !$v.registrar.organization.required"
				              class="help-block error"
				            >
				              Nama Instansi tidak boleh kosong
				            </span>
								 	</div>
								</div>
								<div class="row">
							  	<div class="twelve columns">
									  <label>Alamat Instansi</label>
									  <textarea
									  	v-model="registrar.organization_address"
									  	@input="$v.registrar.organization_address.$touch()"
								  		:class="{ 'form error': $v.registrar.organization_address.$dirty && !$v.registrar.organization_address.required }"
									  	class="u-full-width"
									  ></textarea>
									  <span 
				              v-if="$v.registrar.organization_address.$dirty && !$v.registrar.organization_address.required"
				              class="help-block error"
				            >
				              Alamat Instansi tidak boleh kosong
				            </span>
									</div>
								</div>
						  </div>						  
						  <div class="row">
						  	<div class="twelve columns">			  	  
						 			<button
						 				class="button-primary"
						 				type="submit"
						 			>
						 				{{ submitAlias }}
						 			</button>
						 		</div>
						 	</div>
						</form>
					</div>
					<div class="five columns">
						<cost-calculation
							:productIds="registrar.products"
							proceedingQty="1"
							productDiscount="0"
							paperQty="1"
							title="Perhitungan Biaya">
						</cost-calculation>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex';
	import http from '../../../services/http';
	import validator from '../../../validators/registrar';
	import SelectMulti from '../../App/Form/SelectMulti';
	import TheBreadcrumb from '../Section/TheBreadcrumb';
	import CostCalculation from '../../App/Form/CostCalculation';

	export default {
		components: {
			SelectMulti,
			TheBreadcrumb,
			CostCalculation,
		},

		validations: validator,

		data() {
			return {
				breadcrumbLinks: [
					{ title: 'Pendaftaran Peserta', route: this.$route.name }
				],
				selectedProductId: 1,
				selectedProductIds: [1],
				registrar: {
					full_name: '',
					phone: '',
					address: '',
					password: '',
					password_conf: '',
					organization: 'Universitas Atma Jaya Yogyakarta',
					organization_address: 'Jl. Babarsari 43, Yogyakarta',
					products: [1],
				},
				submitAlias: 'Daftar'
			};
		},

		computed: {
	    ...mapGetters({
				productList: 'product/baseProducts',
			}),
			
			isUAJY() {
				return this.selectedProductId === 1;
			},
		},
		
		watch: {
			selectedProductId() {
				this.setRegistrarProducts([this.selectedProductId]);
			},

			isUAJY() {
				if (this.isUAJY) {
	  			this.registrar.organization = 'Universitas Atma Jaya Yogyakarta';
	  			this.registrar.organization_address = 'Jl. Babarsari 43, Yogyakarta';
	  		} else {
	  			this.registrar.organization = '';
	  			this.registrar.organization_address = '';
	  		}
			},
		},

	  methods: {
	  	...mapActions({
	      fetchProducts: 'product/fetchAll',
			}),

			setRegistrarProducts(productIds) {
				this.registrar.products = productIds;
			},
			
			register() {
				const successCallback = res => {
					if (res.status === 200) {
						this.submitAlias = 'Daftar';
						this.$swal({
						  title: 'Pendaftaran Berhasil',
						  text: 'Silakan masuk ke area peserta untuk konfigurasi.',
						  type: 'success',
						})
							.then(() => {
								this.$router.push({ name: 'index' });
							});
					}
				};

				const errorCallback = err => {
					const errData = Object.assign({}, err.response);
					console.log(errData);

					this.submitAlias = 'Daftar';
					this.$swal({
					  title: 'Pendaftaran Gagal',
					  text: 'Mohon maaf terdapat kekeliruan sistem. Silakan refresh halaman ini dan lakukan pendaftaran ulang.',
					  type: 'error',
					});
				};

				this.submitAlias = 'Mendaftar...';
				http.post('registration', this.registrar, successCallback, errorCallback);
			},

	  	onSubmit() {
	  		if (!this.$v.registrar.$invalid)
	  			this.register();
	  		else {
	  			this.$v.registrar.$touch();
	  		}
	  	}
	  },

	  mounted() {
	  	this.fetchProducts();
	  }
	}
</script>