@import "../../../node_modules/skeleton-css/css/normalize.css";
@import "../../lib/vertical-timeline/css/style.css";
@import "../../../node_modules/skeleton-css/css/skeleton.css";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";

/* Miscellaneous */
$primary-blue: #013A6F;
$primary-orange: #F4AE00;
$secondary-blue: #006DAE;
$secondary-blue-mono: #1e6995;
$error-red: #e74c3c;
$warning-orange: #f39c12;

a {
	cursor: pointer;
	text-decoration: none;
	color: $secondary-blue;

	&:hover {
		color: $primary-blue;
	}
}

img {
	width: 100%;
}

.button.button-primary, button.button-primary {
	background: $secondary-blue;
	border-color: $secondary-blue;

	&:hover {
		background: $primary-blue;
		border-color: $primary-blue;
	}
}

table {
	width: 100%;
}

/* Form */
.select-multi-wrapper {
	margin-bottom: 20px;	
}

.select2-selection__rendered {
	display: block !important;
}

.select2-search__field {
	margin-top: 0 !important;
}

.select2-container{
	input, li {
		margin-bottom: 0 !important;
	}
}

.form {
	&.warning {
		border-color: $warning-orange !important;
	}
	&.error {
		border-color: $error-red !important;
	}
}

.help-block {
	display: block;
	margin-bottom: 15px;
	font-size: 12px;
	
	&.warning {
		color: $warning-orange;
	}
	&.error {
		color: $error-red;
	}
}

input[type="file"] {
	height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Custom Style For Vertical Timeline */
header h1 {
	font-size: 1.8rem;
}

@media only screen and (min-width: 1170px) {
  header h1 {
    font-size: 2.4rem;
  }
}

/* Custom Style For Sweetalert*/
.swal2-modal .swal2-styled {
	padding: 0 30px !important;
}

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 2rem;
  }
  .cd-timeline-content p {
    font-size: 1.6rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content .cd-date {
    font-size: 1.6rem;
  }
}

#cd-timeline {
	padding: 0;

	&::before {
		background: transparentize($primary-orange, 0.4);
	}
}

.cd-timeline-content {
	background: $secondary-blue-mono;

	h2, p {
		color: #fff;
	}

	.cd-date {
		font-weight: bold;
	}
}

.cd-timeline-block:nth-child(odd) .cd-timeline-content::before {
	border-left-color: $secondary-blue-mono;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
	border-right-color: $secondary-blue-mono;
}

.cd-timeline-img {
	background: $primary-orange;
}

/* Header */
#header {
	padding-top: 20px;
	padding-bottom: 5px;
	background: transparentize($secondary-blue, 0.2);

	.logo {
		width: 200px;
	}

	#navigations {
		text-align: right;
		padding-top: 5px;
   	margin-bottom: 0;

    li {
    	display: inline-block;

    	a {
				margin-left: 25px;
				color: #fff;

				&:hover {
					color: $primary-orange;
				}
			}

			&:first-child {
				a {
					margin-left: 0;
				}
			}

			.sub-nav {
				display: none;
				position: absolute;
				z-index: 1;
				margin: 0;
				margin-left: 5px;
    		width: 175px;
    		margin-top: 10px;
    		padding: 20px;
    		box-sizing: border-box;    
    		background: transparentize($secondary-blue, 0.2);
    		text-align: left;
    		box-shadow: 0 3px 0 #d7e4ed;

    		&.show {
    			display: block;
    		}

    		&.btn {
    			margin-top: 0;
    			margin-left: 15px;
    		}

				li {
					display: block;
					list-style: none;

					a {
						margin-left: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
    }
	}
}

/* Welcome */
#welcome {
	// padding-top: 138px;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	background: url('../images/conference.jpg');
	background-size: cover;
  background-repeat: no-repeat;

	.row {
		margin-bottom: 30px;
	}

	.title {
		color: $primary-orange;
		margin-bottom: 5px;
	}

	.theme {
		color: #4baae2;
		margin-bottom: 5px;
	}

	.box {
		background: transparentize($primary-blue, 0.2);
		padding: 20px;
		box-sizing: border-box;

		span {
			font-size: 12px;
			font-weight: bold;
		}

		p {
			margin-bottom: auto;

			a {
				color: #fff;

				&:hover {
					color: $primary-orange;
				}
			}
		}
	}
}

/* Speakers */
#speakers {
	padding-top: 20px;
	padding-bottom: 40px;
	background: $secondary-blue-mono;
	color: #fff;

	.title {
		text-align: center;
	}

	.left {
		text-align: right;

		img {
			float: right;
		}

		.desc {
			float: right;
			margin-right: 15px;
		}
	}

	.right {
		text-align: left;

		img {
			float: left;
			
		}

		.desc {
			float: left;
    	margin-left: 15px;
		}
	}

	.desc {
		margin-top: 15%;
		.name {
			font-size: 16px;
			font-weight: bold;
		}
	}

	img {
		width: 200px;
		border-radius: 100%;
	}

	p {
		margin-bottom: 0;
	}
}

/* Papers */
#papers {
	padding: 15px 0;
	background: #bfbfbf;
	text-align: right;

	.title {
		margin-bottom: 0;
		text-align: left;
	}

	.button {
		margin: 1px 0;
	}
}

/* Workshop */
#workshop {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #262626;
	text-align: center;
	color: #7fc405;

	.title {
		margin-bottom: 5px;
	}

	p {
		color: #f2f2f2;
	}
}

/* Timeline */
#timeline {
	padding: 20px 0;
	background: #f2f2f2;

	.title {
		text-align: center;
	}
}

/* Maps */
#maps {
	padding-top: 20px;
	background: #dfdfdf;

	h3 {
		text-align: center;
	}

	iframe {
		width: 100%;
		height: 300px;
		display: block;
	}
}

/* Poster */
#poster {
	margin: 30px 0;
	text-align: center;

	img {
		width: 500px;
	}
}

/* Organizer */
#organizer {
	padding: 20px 0;
	background: transparentize($primary-orange, 0.8);
	text-align: center;

	img {
		display: inline-block;
		max-width: 275px;
	}
}

/* Footer */
#footer {
	padding: 20px 0;
	background: #2c3e50;
	color: #e5e5e5;

	.right {
		text-align: right;
	}

	p {
		margin-bottom: 0;
	}
}

/* Breadcrumb */
#breadcrumb {
	padding: 15px 0;
	background: transparentize($secondary-blue-mono, 0.8);
	text-align: right;

	.title {
		margin-bottom: 0;
		text-align: left;
	}

	.link {
		padding: 8px 0;
    display: block;
	}
}

/* Page Body */
#page-body {
	padding-top: 30px;
	padding-bottom: 20px;

	p {
		text-align: justify;
	}
}

/* Sidebar */
#sidebar {
	aside {
		padding: 20px;
		margin-bottom: 30px;
		box-sizing: border-box;
		border: 1px solid transparentize($secondary-blue-mono, 0.8);
		box-shadow: 0 3px 0 #d7e4ed;
	}

	.cost-calc {
		table {
			tr:last-child {
				font-weight: bold;
			}

			td:last-child, th:last-child {
				text-align: right;
			}
		}		
	}
}

/* Client Area */
.receipt {
	img {
		max-width: 40px;
	}

	p {
    padding: 6px 10px;
    padding-left: 0;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
	}

	.error {
		color: $error-red;
	}
}

/* Media Queries */

@media (max-width: 1170px) {
	#header {
		text-align: center;
	}

	#navigations {
		text-align: center !important;
	}

	#navigations li:last-child a {
		margin-left: 0 !important;
		margin-top: 15px;
	}

	.column, .columns {
		margin-bottom: 15px;
	}

	#papers, #papers .title{
		text-align: center;
	}

	#speakers .right, #speakers .left {
		text-align: center;
	}

	#speakers img {
		float: none !important;
	}

	#speakers .desc {
		float: none !important;
		margin: 10px 0 !important;
	}

	.cd-timeline-content::before {
		border-right-color: $secondary-blue-mono;
		border-left-color: transparent !important;
	}

	.cd-timeline-content h2 {
		font-size: 2.4rem;
	}

	.cd-timeline-content .cd-date {
		color: #fff;
	}

	#footer .right, #footer .left {
		text-align: center;
	}
}

