<template>
	<div class="wrapper">
		<the-header></the-header>
		<router-view></router-view>
		<the-footer></the-footer>		
	</div>
</template>

<script>
	import TheHeader from './Section/TheHeader';
	import TheFooter from './Section/TheFooter';

	export default {
		components: {
			TheHeader,
			TheFooter,
		}
	}
</script>