<template>
	<div>
		<label>Riwayat Berkas</label>
		<table class="table">
			<thead>
				<tr>
					<th>Pratinjau</th>
					<th>Nama Berkas</th>
					<th>Nomor Revisi</th>
					<th>Waktu Unggah</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="file in paper.uploads.files" :class="{success: paper.verified_by}">
					<td>
						<a :href="file.url" target="_blank" title="Klik untuk perbesar">Lihat</a>
					</td>
					<td>
						{{ file.file_name }}
					</td>
					<td>
						{{ file.rev <= 100 ? file.rev : file.rev - 100 + " (Cam-ready)" }}
					</td>
					<td>
						{{ file.created_at }}
					</td>
				</tr>
			</tbody>
		</table>
		<div v-if="currentLogId < 6 && isEditable">
			<label>Tambah Berkas</label>
			<input
		  	ref="file"
		  	type="file"
		  	accept="application/msword"
		  	class="form-control"
		  	style="margin-bottom: 10px;"
		  >
			<p>
				Format					: doc<br>
				Ukuran maksimal	: 10 MB
			</p>
			<div class="form-group">
	      <button :disabled="isUploading" @click="uploadRevision" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah Berkas</button>
	      &nbsp;
	      <button v-if="currentLogId >= 3 && !isCamReady" @click="toggleCamReady" type="button" class="btn btn-warning"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;Unggahan Pertama</button>
        <button v-if="currentLogId >= 3 && isCamReady" @click="toggleCamReady" type="button" class="btn btn-success"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;Unggahan Cam-ready</button>
	    </div>
			<p v-if="isUploading">Memperbarui...</p>
		</div>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex';

	export default {
		props: {
			isEditable: {
	      type: Boolean,
	      default: true,
	    },
		},

		data() {
			return {
				isUploading: false,
				isDestroying: false,
				isCamReady: 0,
			}
		},

		filters: {
			formatSize: function (size) {
			  if (size > 1024 * 1024) {
			    return (size / 1024 / 1024).toFixed(2) + ' MB'
			  } else if (size > 1024) {
			    return (size / 1024).toFixed(2) + ' KB'
			  }
			  return size.toString() + ' B'
			}
		},

		computed: {
			...mapState({
				paper: state => state.paper.active,
	    }),

	    currentLogId() {
	    	if (this.paper.logs.length > 0)
	    		return this.paper.logs[0].id;
	    },
		},

		methods: {
			...mapActions({
	      uploadPaper: 'paper/upload',
	      storePaperLog: 'paper/storeLog',
	    }),

			getExtension(filename) {
			    let parts = filename.split('.');
			    return parts[parts.length - 1];
			},

			checkExt(filename, extChecker) {
		    let ext = this.getExtension(filename);
		    return ext.toLowerCase() == extChecker ? true : false;
			},

			checkFile(file, extChecker) {
				if (!file)
					return false;
				if (file.size <= (1024 * 1024 * 10) && this.checkExt(file.name, extChecker)) {
					return true;
				}
				return false;
			},

			uploadRevision() {
				let myfile = this.$refs.file.files[0];

				if (!this.checkFile(myfile, 'doc')) {
					this.$swal({
            title: 'Pengunggahan Gagal',
            text: 'File harus berupa dokumen berformat `doc` dan berukuran kurang dari 10 MB',
            type: 'error',
          });
          return false;
				}

				this.isUploading = true;

				const payload = new FormData();
	      payload.append('file', myfile);
	      payload.append('cam_ready', this.isCamReady);

	    	this.uploadPaper([payload, this.paper.id])
	    		.then(paper => {
	    			if (this.isCamReady && this.currentLogId == 3)
	    				this.storeCamReadyLog();
	          this.isUploading = false;
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    },

	    toggleCamReady() {
	    	this.isCamReady = this.isCamReady == 1 ? 0 : 1;
	    },

	    storeCamReadyLog() {
	    	const paper = {
	    		paper_id: this.paper.id,
	        paper_status_id: 5,
	        user_id: this.paper.registrar.user_id,
	      };
	    	this.storePaperLog(paper);
	    },
	  },

	  watch: {
	  	currentLogId() {
	  		this.isCamReady = this.currentLogId >= 3 ? 1 : 0;
	  	}
	  },

	  beforeMount() {
	  	this.isCamReady = this.currentLogId >= 3 ? 1 : 0;
	  }
	}
</script>