<template>
	<div>
		<div v-if="paper.letter">
			<label>Surat Pernyataan Plagiarisme</label>
			<table class="table">
				<thead>
					<tr>
						<th>Pratinjau</th>
						<th>Nama Berkas</th>
						<th>Waktu Unggah</th>
						<th v-if="currentLogId == 6"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a :href="paper.letter.url" target="_blank" title="Klik untuk perbesar">Lihat</a>
						</td>
						<td>
							{{ paper.letter.file_name }}
						</td>
						<td>
							{{ paper.letter.created_at }}
						</td>
						<td>
							<button v-if="currentLogId => 3" type="button" @click="destroyLetter" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Hapus Berkas</button>
						</td>
					</tr>
				</tbody>
				<p v-if="isDestroying">Menghapus...</p>
			</table>
		</div>
		<div v-if="currentLogId >= 3 && !paper.letter">
			<label>Tambah Surat Pernyataan Plagiarisme</label>
			<input
		  	ref="file"
		  	type="file"
		  	accept="application/pdf"
		  	class="form-control"
		  	style="margin-bottom: 10px;"
		  >
			<p>
				Format					: pdf<br>
				Ukuran maksimal	: 10 MB
			</p>
			<div class="form-group">
      	<button :disabled="isUploading" type="button" @click="uploadLetter" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah Berkas</button>
      </div>
      <p v-if="isUploading">Mengunggah...</p>
		</div>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex';

	export default {
		data() {
			return {
				isUploading: false,
				isDestroying: false,
			}
		},

		filters: {
			formatSize: function (size) {
			  if (size > 1024 * 1024) {
			    return (size / 1024 / 1024).toFixed(2) + ' MB'
			  } else if (size > 1024) {
			    return (size / 1024).toFixed(2) + ' KB'
			  }
			  return size.toString() + ' B'
			}
		},

		computed: {
			...mapState({
				paper: state => state.paper.active,
	    }),

	    currentLogId() {
	    	if (this.paper.logs.length > 0)
	    		return this.paper.logs[0].id;
	    },
		},

		methods: {
			...mapActions({
	      uploadPaperLetter: 'paper/uploadLetter',
	      destroyPaperLetter: 'paper/destroyLetter',
	    }),

			getExtension(filename) {
			    let parts = filename.split('.');
			    return parts[parts.length - 1];
			},

			checkExt(filename, extChecker) {
		    let ext = this.getExtension(filename);
		    return ext.toLowerCase() == extChecker ? true : false;
			},

			checkFile(file, extChecker) {
				if (!file)
					return false;
				if (file.size <= (1024 * 1024 * 10) && this.checkExt(file.name, extChecker)) {
					return true;
				}
				return false;
			},

	    uploadLetter() {
	    	let myfile = this.$refs.file.files[0];

				if (!this.checkFile(myfile, 'pdf')) {
					this.$swal({
            title: 'Pengunggahan Gagal',
            text: 'File harus berupa dokumen berformat `pdf` dan berukuran kurang dari 10 MB',
            type: 'error',
          });
          return false;
				}

				this.isUploading = true;

				const payload = new FormData();
	      payload.append('file', myfile);

	    	this.uploadPaperLetter([payload, this.paper.id])
	    		.then(paper => {
	          this.isUploading = false;
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    },

	    destroyLetter() {
	    	this.isDestroying = true;
	    	this.destroyPaperLetter(this.paper.id)
	    		.then(paper => {
	    			this.isDestroying = false;
	    			this.paper.letter = null;
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    },
	  },
	}
</script>