<template>
	<div>
		<div v-if="role.id != 4" class="form-group">
      <label>Tambah Status</label>
      <select
      	v-model="selectedStatusId"
      	class="form-control"
      >
        <option
        	v-for="status in statusList"
        	:value="status.id"
        	v-text="status.name"
        >						        	
        </option>
      </select>
    </div>
    <div v-if="role.id != 4" class="form-group">
      <button v-if="selectedStatusId" @click="store" :disabled="isAdding" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah</button>
    </div>
    <p v-if="isAdding">Menambahkan...</p>
		<label>Riwayat Status</label>
		<table class="table">
			<thead>
				<tr>
					<th>Status</th>
					<th>Waktu Penetapan</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(log, index) in paper.logs" :class="{success: paper.verified_by}">
					<td>
						{{ log.name }}
					</td>
					<td>
						{{ log.pivot.created_at }}
					</td>
					<td>
						<button v-if="role.id != 4 && index == 0" @click="destroyLog(index)" type="button" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-if="role.id != 4" class="form-group">
			<button @click="destroy" type="button" class="btn btn-danger"><i class="fa fa-times"></i> {{ resetAlias }}</button>
		</div>
	</div>
</template>

<script>
	import { mapState, mapActions, mapGetters } from 'vuex';

	export default {
		data() {
			return {
				isAdding: false,
				selectedStatusId: null,
				resetAlias: 'Reset Log',
				alias: ['Reset Log', 'Mengosongkan...'],
			}
		},

		computed: {
			...mapGetters({
	      role: 'loggedUser/role',
	    }),

			...mapState({
				paper: state => state.paper.active,
	      statuses: state => state.paper.statuses,
	    }),

	    statusList() {
	    	let statuses = [];
	    	this.selectedStatusId = null;

	    	if (this.statuses.length > 0) {
	    		if (this.paper.logs.length > 0) {
	    			let index = this.paper.logs[0].id - 1;
	    			if (index + 1 == 4)
	    				return statuses;

	    			if (index + 1 == 3)
	    				index++;

		    		if (index + 1 != this.statuses.length) {
		    			statuses.push(this.statuses[index + 1]);
		    			this.selectedStatusId = this.statuses[index + 1].id;
		    		}

			    	if (index + 1 == 2)
			    		statuses.push(this.statuses[index + 2]);
		    	}else{
			    	statuses.push(this.statuses[0]);
			    	this.selectedStatusId = this.statuses[0].id;
			    }
		    }

		    return statuses;
	    },
		},

		methods: {
			...mapActions({
	      storePaperLog: 'paper/storeLog',
	      fetchStatuses: 'paper/fetchStatuses',
	      destroyPaperLog: 'paper/destroyLog',
	      updatePaperLog: 'paper/updateLog',
	    }),

	    store() {
	    	this.isAdding = true;

	    	const paper = {
	    		paper_id: this.paper.id,
	        paper_status_id: this.selectedStatusId,
	        user_id: this.paper.registrar.user_id,
	      };
	    	this.storePaperLog(paper)
	    		.then(paper => {
	          this.isAdding = false;
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    },

	    destroy() {
	    	this.resetAlias = this.alias[1];
	    	this.destroyPaperLog(this.paper.id)
	    		.then(paper => {
	    			this.paper.logs = [];
	          this.resetAlias = this.alias[0];
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    },

	    destroyLog(index) {
	    	this.paper.logs.splice(0, 1);
	      const payload = {
	        id: this.paper.id,
	        logs: this.paper.logs.map(log => ({
	        	paper_status_id: log.id,
	        	related_user_id: this.paper.registrar.user_id,
	        })),
	      };
	      this.updatePaperLog(payload);
	    },
		},

		mounted() {
	  	this.fetchStatuses();
	  },
	}
</script>