<template>
  <div class="row">
    <div class="col-md-9">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Paper #{{ paper.id }}</h3>
        </div>
        <div class="box-body">
          <title-editor :isEditable="isEditable"></title-editor>
          <logs-editor></logs-editor>
          <files-editor :isEditable="isEditable"></files-editor>
          <letter-editor></letter-editor>
        </div>
        <div class="box-footer">
          <div class="form-group" v-if="isEditable">
            <button v-if="currentLogId < 2" @click="destroy" type="button" class="btn btn-danger"><i class="fa fa-times"></i> Hapus Paper</button>            
          </div>
          <div class="form-group" v-if="(loggedUser.role.id == 1 || loggedUser.role.id == 2)">
            <button @click="revision" type="button" class="btn btn-success"><i class="fa fa-envelope"></i> {{ btnAccepted }}</button>&nbsp;
            <button @click="rejection" type="button" class="btn btn-danger"><i class="fa fa-envelope"></i> {{ btnRejected }}</button>&nbsp;
            <button @click="sendLoa" type="button" class="btn btn-primary"><i class="fa fa-envelope"></i> {{ btnLoa }}</button>
          </div>
        </div>
        <loader v-if="!paper.id"></loader>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import numeral from 'numeral';
import Loader from '../../Base/Loader';
import TitleEditor from './TitleEditor';
import LogsEditor from './LogsEditor';
import FilesEditor from './FilesEditor';
import LetterEditor from './LetterEditor';

export default {
  components: {
    Loader,
    TitleEditor,
    LogsEditor,
    FilesEditor,
    LetterEditor,
  },

  data() {
      return {
        btnAccepted: 'Kirim Berita Terima',
        btnRejected: 'Kirim Berita Ditolak',
        btnLoa: 'Kirim LOA',
      }
    },

  computed: {
    ...mapState({
      loggedUser: state => state.loggedUser.data,
      paper: state => state.paper.active,
    }),

    currentLogId() {
      if (this.paper.logs.length > 0)
        return this.paper.logs[0].id;
    },

    isEditable() {
      const allowedStatuses = [1, 3, 5];
      return allowedStatuses.includes(this.currentLogId);
    },
  },

  methods: {
    ...mapActions({
      destroyPaper: 'paper/destroy',
      sendRevisionLetterPaper: 'paper/sendRevisionLetter',
      sendRejectionLetterPaper: 'paper/sendRejectionLetter',
      sendLoaPaper: 'paper/sendLoa',
    }),

    destroy() {
      this.$swal({
        title: 'Apa anda yakin?',
        text: 'Anda akan kelihangan keseluruhan berkas paper anda!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Iya',
        cancelButtonText: 'Tidak'
      }).then((result) => {
        this.destroyPaper(this.paper.id)
          .then(paper => {
            this.$router.push({ name: 'papers.index' });
          })
          .catch(err => {
            console.log(err);
          });
      }).catch(this.$swal.noop);
    },

    revision() {
      this.btnAccepted = 'Mengirimkan...';
      this.sendRevisionLetterPaper(this.paper.id)
        .then(() => {
          this.btnAccepted = 'Kirim Berita Terima';
          this.$swal({
            title: 'Pengiriman Berhasil',
            text: 'Pengiriman berita telah berhasil dilakukan.',
            type: 'success',
          });
        })
        .catch(err => {
          this.btnAccepted = 'Kirim Berita Terima';
          this.$swal({
            title: 'Pengiriman Gagal',
            text: 'Pengiriman berita telah gagal dilakukan.',
            type: 'error',
          });
          console.log(err);
        });
    },

    rejection() {
      this.btnRejected = 'Mengirimkan...';
      this.sendRejectionLetterPaper(this.paper.id)
        .then(() => {
          this.btnRejected = 'Kirim Berita Ditolak';
          this.$swal({
            title: 'Pengiriman Berhasil',
            text: 'Pengiriman berita telah berhasil dilakukan.',
            type: 'success',
          });
        })
        .catch(err => {
          this.btnRejected = 'Kirim Berita Ditolak';
          this.$swal({
            title: 'Pengiriman Gagal',
            text: 'Pengiriman berita telah gagal dilakukan.',
            type: 'error',
          });
          console.log(err);
        });
    },

    sendLoa() {
      this.btnLoa = 'Mengirimkan...';
      this.sendLoaPaper(this.paper.id)
        .then(() => {
          this.btnLoa = 'Kirim LOA';
          this.$swal({
            title: 'Pengiriman Berhasil',
            text: 'Pengiriman LOA telah berhasil dilakukan.',
            type: 'success',
          });
        })
        .catch(err => {
          this.btnLoa = 'Kirim LOA';
          this.$swal({
            title: 'Pengiriman Gagal',
            text: 'Pengiriman LOA telah gagal dilakukan.',
            type: 'error',
          });
          console.log(err);
        });
    },
  },
};
</script>