<template>
	<div>
		<div class="form-group">
      <label>Judul</label>
      <input v-model="paper.title" type="text" class="form-control">
    </div>
    <div class="form-group" v-if="isEditable">
      <button @click="update" type="button" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Perbarui</button>
    </div>
    <p v-if="isUpdating">Memperbarui...</p>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex';

	export default {
		props: {
			isEditable: {
	      type: Boolean,
	      default: true,
	    },
		},

		data() {
			return {
				isUpdating: false,
			}
		},

		computed: {
			...mapState({
				paper: state => state.paper.active,
	    }),
		},

		methods: {
			...mapActions({
	      updatePaper: 'paper/update',
	    }),

	    update() {
	    	this.isUpdating = true;

	    	const paper = {
	    		id: this.paper.id,
	        title: this.paper.title,
	      };
	    	this.updatePaper(paper)
	    		.then(paper => {
	          this.isUpdating = false;
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    },
		},
	}
</script>