<template>
  <div>
    <the-content-header title="Detil Transaksi"></the-content-header>
    <section class="content">
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Transaksi</h3>
              <div class="pull-right">
                <button @click="verifyTransactionHandler()" type="button" class="btn btn-xs btn-success">Verifikasi</button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>Status</th>
                    <td>
                      <span v-if="isVerified" class="label label-success">Terverifikasi</span>
                      <span v-else class="label label-warning">Belum Terverifikasi</span>
                    </td>
                  </tr>
                  <tr>
                    <th>Bukti Transfer</th>
                    <td>
                      <a v-if="transaction.payment_proof != null" :href="transaction.payment_proof.url" target="_blank" title="Klik untuk perbesar">
                        <img :src="transaction.payment_proof.url" style="width: 100%;">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>Peserta</th>
                    <td>
                      <router-link v-if="transaction.registrar != null" :to="{ name: 'registrars.edit', params: {id: transaction.registrar.id } }">
                        {{ transaction.registrar.full_name }}
                      </router-link>
                    </td>
                  </tr>
                  <tr>
                    <th>Total Biaya</th>
                    <td>Rp{{ formatPrice(transaction.total) }}</td>
                  </tr>
                  <tr>
                    <th>Ditransfer Saat</th>
                    <td>{{ transaction.created_at }}</td>
                  </tr>
                </tbody>
              </table>            
            </div>
            <loader v-if="loadingState"></loader>
          </div>
        </div>
        <div class="col-md-8">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detil Transaksi</h3>
            </div>
            <div class="box-body">
              <data-table 
                :headers="tableHeaders" 
                :rows="transactionDetailsList" 
              ></data-table>
            </div>
            <loader v-if="loadingState"></loader>
          </div>      
        </div>
      </div>
    </section>
  </div> 
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import numeral from 'numeral';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';

export default {
  components: {
    TheContentHeader,
    Loader,
    DataTable,
  },

  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      loadingState: this.loading,
      tableHeaders: [
        { data: 'product', label: 'Paket' },
        { data: 'qty', label: 'Jumlah' },
        { data: 'price', label: 'Biaya' },
        { data: 'discount', label: 'Diskon' },
        { data: 'subtotal', label: 'Sub-Total' },
      ],
    };
  },

  computed: {
    ...mapState({
      transaction: state => state.transaction.active,
      loggedUser: state => state.loggedUser.data,
    }),

    transactionDetailsList() {
      if (this.transaction.details != null) {
        let mappedTransactionDetails = this.transaction.details.map(transaction => ({
          product: transaction.name,
          qty: transaction.qty,
          price: "Rp"+this.formatPrice(transaction.price),
          discount: transaction.discount,
          subtotal: "Rp"+this.formatPrice(transaction.subtotal),
        }));

        return mappedTransactionDetails;
      }else{
        return [];
      }
    },

    isVerified() {
      return this.transaction.verified_by != null ? true : false;
    },
  },

  methods: {
    ...mapActions({
      fetchTransaction: 'transaction/fetch',
      updateTransaction: 'transaction/update',
    }),

    formatPrice(price) {
      return numeral(price).format('0,0');
    },

    fetchTransactionHandler() {
      this.loadingState = true;
      this.fetchTransaction(this.$route.params.id)
        .then(() => {
          this.loadingState = false;
        })
        .catch(err => {
          console.log(err);
        });
    },   

    verifyTransactionHandler() {
      let transaction = {
        id: this.$route.params.id,
        verified_by: this.loggedUser.id,
      };

      this.updateTransaction(transaction)
        .then(() => {
            this.fetchTransactionHandler();
          })
        .catch(err => {
          console.log(err);
        });
    }, 
  },

  mounted() {
    this.fetchTransactionHandler();
  },
};
</script>