<template>
  <div>
    <the-content-header title="Transaksi"></the-content-header>
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Daftar Transaksi</h3>
          <div class="pull-right">
            <button @click="fetchTransactionsHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
          </div>
        </div>
        <div class="box-body">
          <data-table 
            :headers="tableHeaders" 
            :rows="transactionsList" 
            :controls="tableControls"
          ></data-table>
        </div>
        <loader v-if="loading"></loader>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import { intersection } from 'lodash';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import SelectMulti from '../Form/SelectMulti';
import DataTable from '../Table/DataTable';
import numeral from 'numeral';

export default {
  components: {
    TheContentHeader,
    Loader,
    SelectMulti,
    DataTable,
  },

  data() {
    return {
      loading: true,
      selectedProducts: [],
      tableHeaders: [
        { data: 'verified_by', label: 'Status' },
        { data: 'payment_proof', label: 'Bukti Transfer' },
        { data: 'registrar', label: 'Peserta' },
        { data: 'total', label: 'Total Biaya' },
        { data: 'created_at', label: 'Ditransfer Saat' },
      ],
      tableControls: [
        { onClick: this.detailTransactionHandler, class: 'btn btn-xs btn-primary', label: 'Detail' },
        { onClick: this.verifyTransactionHandler, class: 'btn btn-xs btn-success', label: 'Verifikasi' },
      ],
    };
  },

  computed: {
    ...mapState({
      transactions: state => state.transaction.data,
      loggedUser: state => state.loggedUser.data,
    }),

    transactionsList() {
      let mappedTransactions = this.transactions.map(transaction => ({
        id: transaction.id,
        verified_by: transaction.verified_by == null ? '<span class="label label-warning">Belum Terverifikasi</span>' : '<span class="label label-success">Terverifikasi</span>', 
        payment_proof: '<a href="'+transaction.payment_proof.url+'" target="_blank" title="Klik untuk perbesar"><img src="'+transaction.payment_proof.url+'" width="40"></a>',
        registrar: transaction.registrar.full_name,
        total: "Rp"+this.formatPrice(transaction.total),
        created_at: transaction.created_at,        
      }));

      return mappedTransactions;
    },
  },

  methods: {
    ...mapActions({
      fetchTransactions: 'transaction/fetchAll',
      updateTransaction: 'transaction/update',
    }),

    fetchTransactionsHandler() {
      this.loading = true;
      this.fetchTransactions()
        .then(() => {
          this.loading = false;
        })
        .catch(err => {
          console.log(err);
        });
    },

    detailTransactionHandler(id) {
      this.$router.push({ name: 'transaction.detail', params: { id: id } });
    },

    verifyTransactionHandler(id) {
      let transaction = {
        id: id,
        verified_by: this.loggedUser.id,
      };

      this.updateTransaction(transaction)
        .then(() => {
            this.fetchTransactionsHandler();
          })
        .catch(err => {
          console.log(err);
        });
    },

    formatPrice(price) {
      return numeral(price).format('0,0');
    },
  },

  mounted() {
    this.fetchTransactionsHandler();
  },
};
</script>
