<template>
  <div class="row">
    <div class="col-md-9">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Penulis</h3>
          <!-- <div class="pull-right">
            <button @click="destroy" type="button" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>&nbsp;&nbsp;{{ resetAlias }}</button>
          </div> -->
        </div>
        <div class="box-body">
          <!-- <div class="form-group">
            <label>Tambah Penulis</label>
            <select
              v-model="selectedRegistrarId"
              class="form-control"
            >
              <option
                v-for="registrar in registrarList"
                :value="registrar.id"
                v-text="registrar.full_name"
              >                     
              </option>
            </select>
          </div>
          <div class="form-group">
            <button v-if="selectedRegistrarId" @click="store" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> {{ submitAlias }}</button>
          </div> -->
          <table class="table">
            <thead>
              <tr>
                <!-- <th>#</th> -->
                <th>ID</th>
                <th>Nama</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <td>1</td> -->
                <td>{{ paper.registrar_id }}</td>
                <td>
                  <router-link v-if="paper.id" :to="{ name: 'registrars.edit', params: {id: paper.registrar_id } }">
                    {{ paper.registrar.full_name }}
                  </router-link>
                </td>
                <td></td>
              </tr>
              <!-- <tr v-for="(author, index) in paper.additional_authors">
                <td>{{ index + 2 }}</td>
                <td>{{ author.id }}</td>
                <td>
                  <router-link :to="{ name: 'sub_registrars.edit', params: {id: author.id } }">
                    {{ author.full_name }}
                  </router-link>
                </td>
                <td>
                  <button @click="destroyAuthor(index)" type="button" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <loader v-if="!paper.id"></loader>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState/*, mapActions*/ } from 'vuex';
import Loader from '../Base/Loader';

export default {
  components: {
    Loader,
  },

  // data() {
  //   return {
  //     selectedRegistrarId: null,
  //     submitAlias: '',
  //     resetAlias: '',
  //     alias: ['Tambah', 'Menambahkan...', 'Reset', 'Mengosongkan...'],
  //   };
  // },

  computed: {
    ...mapState({
      paper: state => state.paper.active,
      // registrars: state => state.registrar.data,
    }),

    // registrarList() {
    //   let authors = [];

    //   if (this.paper.additional_authors) {
    //     this.registrars.map(registrar => {
    //       let toggle = true;
    //       for (let i = 0; i < this.paper.additional_authors.length; i++) {
    //         if (this.paper.additional_authors[i].id == registrar.id) {
    //           toggle = false;
    //           break;
    //         }
    //       }
    //       if (toggle) {
    //         authors.push(registrar);
    //       }
    //     })
    //   }

    //   return authors;
    // },
  },

  // methods: {
  //   ...mapActions({
  //     fetchSubRegistrarsByRegistrar: 'registrar/fetchSubRegistrarByRegistrar',
  //     storeAuthorPaper: 'paper/storeAuthor',
  //     destroyAuthorPaper: 'paper/destroyAuthor',
  //     updateAuthorPaper: 'paper/updateAuthor',
  //   }),

  //   store() {
  //     this.submitAlias = this.alias[(0*2)+1];
  //     const author = {
  //       paper_id: this.paper.id,
  //       registrar_id: this.selectedRegistrarId,
  //     };

  //     this.storeAuthorPaper(author)
  //       .then(() => {
  //         this.selectedRegistrarId = null;
  //         this.submitAlias = this.alias[(0*2)];
  //       })
  //       .catch(err => {
  //         console.log(err);
  //       });
  //   },

  //   destroy() {
  //     this.resetAlias = this.alias[(1*2)+1];
  //     this.destroyAuthorPaper(this.paper.id)
  //       .then(() => {
  //         this.selectedRegistrarId = null;
  //         this.resetAlias = this.alias[(1*2)];
  //         // this.paper.additional_authors = [];
  //       })
  //       .catch(err => {
  //         console.log(err);
  //       });
  //   },

  //   destroyAuthor(index) {
  //     this.paper.additional_authors.splice(index, 1);
  //     const payload = {
  //       id: this.paper.id,
  //       authors: [...this.paper.additional_authors.map(registrar => registrar.id)],
  //     };
  //     this.updateAuthorPaper(payload)
  //       .then(() => {
  //         this.selectedRegistrarId = null;
  //       })
  //       .catch(err => {
  //         console.log(err);
  //       });
  //   },
  // },

  // watch: {
  //   paper() {
  //     this.fetchSubRegistrarsByRegistrar(this.paper.registrar.id);
  //   }
  // },

  // mounted() {
  //   this.submitAlias = this.alias[(0*2)];
  //   this.resetAlias = this.alias[(1*2)];
  // },
}
</script>