<template>
	<div>
		<div class="form-group">
      <label>Judul</label>
      <input v-model="paperTitle" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Tambah Berkas</label>
      <input
        ref="file"
        type="file"
        accept="application/msword"
        class="form-control"
        style="margin-bottom: 10px;"
      >
      <p>
        Format          : doc<br>
        Ukuran maksimal : 10 MB
      </p>
    </div>
    <div class="form-group">
      <button v-if="!isAdding" @click="upload" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah Paper</button>
    </div>
    <p v-if="isAdding">Menambahkan...</p>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex';
	import http from '../../../services/http';

	export default {
		data() {
			return {
				paperTitle: '',
				isAdding: false,
			}
		},

		filters: {
			formatSize: function (size) {
			  if (size > 1024 * 1024) {
			    return (size / 1024 / 1024).toFixed(2) + ' MB'
			  } else if (size > 1024) {
			    return (size / 1024).toFixed(2) + ' KB'
			  }
			  return size.toString() + ' B'
			}
		},

		computed: {
			...mapState({
	      registrar: state => state.registrar.logged,
	    }),
		},

		methods: {
			...mapActions({
	      storePaper: 'paper/store',
	    }),

			getExtension(filename) {
			    let parts = filename.split('.');
			    return parts[parts.length - 1];
			},

			isDOC(filename) {
		    let ext = this.getExtension(filename);
		    switch (ext.toLowerCase()) {
		    	case 'doc':
			        return true;
		    }
		    return false;
			},

			checkFile(file) {
				if (file.size <= (1024 * 1024 * 10) && this.isDOC(file.name)) {
					return true;
				}
				return false;
			},

	    upload() {
	    	this.isAdding = true;

	    	let myfile = this.$refs.file.files[0];

	    	if (!myfile || !this.paperTitle) {
	    		this.isAdding = false;
	    		this.$swal({
            title: 'Penambahan Gagal',
            text: 'Pastikan judul dan berkas sudah terisi.',
            type: 'error',
          });
          return false;
	    	}

				if (!this.checkFile(myfile)) {
					this.isAdding = false;
					this.$swal({
            title: 'Pengunggahan Gagal',
            text: 'File harus berupa dokumen berformat `doc` dan berukuran kurang dari 10 MB',
            type: 'error',
          });
          return false;
				}

				const payload = new FormData();
				payload.append('title', this.paperTitle);
	      payload.append('file', myfile);
	      payload.append('registrar_id', this.registrar.id);
	      payload.append('user_id', this.registrar.user_id);

	    	this.storePaper(payload)
	    		.then(() => {
	    			this.$emit('fetchPapers');
    				this.$swal({
	            title: 'Penambahan Berhasil',
	            text: 'Penambahan paper yang anda lakukan telah berhasil disimpan.',
	            type: 'success',
	          });
            this.isAdding = false;
          })
          .catch(err => {
          	this.$swal({
	            title: 'Penambahan Gagal',
	            text: 'Mohon maaf penambahan paper gagal dilakukan. Silakan refresh halaman ini dan coba ulangi lagi.',
	            type: 'error',
	          });
	          this.isAdding = false;
            console.log(err);
          });
	    }
	  },
	}
</script>