<template>
  <div>
    <the-content-header title="Edit Data Paper"></the-content-header>
    <section class="content">
      <paper-author></paper-author>
      <paper-form></paper-form>
      <paper-review></paper-review>
    </section>
  </div>  
</template>

<script>
import { mapActions } from 'vuex';

import TheContentHeader from '../Base/TheContentHeader';
import PaperForm from './PaperForm/PaperForm';
import PaperAuthor from './PaperAuthor';
import PaperReview from './PaperReview';

export default {
  components: {
    TheContentHeader,
    PaperForm,
    PaperAuthor,
    PaperReview,
  },

  methods: {
    ...mapActions({
      fetchPaper: 'paper/fetch',
    }),

    fetchPaperHandler() {
      return new Promise((resolve, reject) => {
        this.fetchPaper(this.$route.params.id);
      });
    },
  },

  mounted() {
    this.fetchPaperHandler();
  },
};
</script>

<style>
  .table {
    margin-bottom: 15px !important;
  }
</style>