<template>
  <div>
    <the-content-header title="Paper"></the-content-header>
    <section class="content">
      <div  v-if="role.id == 4" class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Unggah Paper</h3>
        </div>
        <div class="box-body">
          <paper-uploader
            v-on:fetchPapers="fetchPapersHandler"
          ></paper-uploader>
        </div>
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Daftar Paper</h3>
          <div class="pull-right">
            <button @click="fetchPapersHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <select v-model="selectedStatus" class="form-control">
                  <option value="0">
                    --Semua--
                  </option>
                  <option v-for="status in statusList" :value="status.id">
                    {{ status.text }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <data-table 
            :headers="tableHeaders" 
            :rows="papersList" 
            :controls="tableControls"
          ></data-table>
        </div>
        <loader v-if="loading"></loader>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import SelectMulti from '../Form/SelectMulti';
import DataTable from '../Table/DataTable';
import PaperUploader from './PaperUploader';

export default {
  components: {
    TheContentHeader,
    Loader,
    SelectMulti,
    DataTable,
    PaperUploader,
  },

  data() {
    return {
      loading: true,
      selectedStatus: 0,
      tableHeaders: [
        { data: 'id', label: 'ID' },
        { data: 'registrar', label: 'Pemakalah' },
        { data: 'title', label: 'Judul' },
        { data: 'updated_at', label: 'Tanggal Pembaruan Terakhir' },
        { data: 'status', label: 'Status' },
      ],
      tableControls: [
        { onClick: this.editPaperHandler, class: 'btn btn-xs btn-primary', label: 'Edit' },
        /*{ onClick: this.destroyPaperHandler, class: 'btn btn-xs btn-danger', label: 'Hapus' },*/
      ],
    };
  },

  computed: {
    ...mapGetters({
      role: 'loggedUser/role',
    }),

    ...mapState({
      papers: state => state.paper.data,
      paperStatuses: state => state.paper.statuses,
      registrar: state => state.registrar.logged,
    }),

    statusList() {
      return this.paperStatuses.map(status => ({ 
        id: status.id, 
        text: status.name 
      }));
    },

    papersList() {
      let mappedPapers = this.papers.map(paper => ({
        id: paper.id,
        registrar: paper.registrar.full_name,
        title: paper.title,
        updated_at: paper.uploads.updated_at,
        status: paper.logs[0].name,
        status_id: paper.logs[0].id,
      }));

      if (this.selectedStatus > 0) {
        mappedPapers = mappedPapers.filter(paper => {
          return paper.status_id == this.selectedStatus;
        });
      }
      
      return mappedPapers;
    },
  },

  methods: {
    ...mapActions({
      fetchPapers: 'paper/fetchAll',
      fetchPapersByRegistrar: 'paper/fetchByRegistrar',
      fetchPaperStatuses: 'paper/fetchStatuses',
      destroyPaper: 'paper/destroy',
    }),

    fetchPapersHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        if (this.role.id != 4) {
          this.fetchPapers()
            .then(res => {
              this.fetchPaperStatuses();
              this.loading = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
        }else{
          this.fetchPapersByRegistrar(this.registrar.id)
            .then(res => {
              this.fetchPaperStatuses();
              this.loading = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
        }
      });
    },

    editPaperHandler(id) {
      this.$router.push({ name: 'papers.edit', params: { id: id } });
    },

    destroyPaperHandler(id) {
      this.$swal({
        title: 'Apa anda yakin?',
        text: 'Anda akan kelihangan keseluruhan berkas paper anda!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Iya',
        cancelButtonText: 'Tidak'
      }).then((result) => {
        this.destroyPaper(id)
          .then(paper => {
            this.fetchPapersHandler();
          })
          .catch(err => {
            console.log(err);
          });
      }).catch(this.$swal.noop);
    },
  },

  mounted() {
    this.fetchPapersHandler();
  },
};
</script>
