<template>
  <div id="review" class="row">
    <div class="col-md-9">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Review</h3>
          <div v-if="(loggedUser.role.id == 1 || loggedUser.role.id == 2) && tinymceActivated" class="pull-right">
            <button v-if="loggedUser.role.id == 1 && !isVerified" @click="toggleVerified" type="button" class="btn btn-xs btn-secondary"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;Belum Terverifikasi</button>
            <button v-if="loggedUser.role.id == 1 && isVerified" @click="toggleVerified" type="button" class="btn btn-xs btn-primary"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;Terverifikasi</button>
            &nbsp;
            <button v-if="review.id == null" @click="save" type="button" class="btn btn-xs btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;{{ buttonAlias }}</button>
            <button v-else @click="update" type="button" class="btn btn-xs btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;{{ buttonAlias }}</button>
          </div>
        </div>
        <div class="box-body">
          <div v-if="tinymceActivated" class="form-group">
            <textarea
              ref="content"
            ></textarea>
          </div>
          <div
            v-if="!tinymceActivated"
            v-html="reviewComment"
          ></div>
        </div>
        <div v-if="!tinymceActivated" class="box-footer">
          <div v-if="this.review.id && this.review.verified_by != null" class="row">
            <div class="col-md-6">
              Di-review oleh: {{ review.reviewed_by ? review.reviewed_by.email : 'Administrator' }}
            </div>
            <div class="col-md-6">
              Pembaruan terakhir: {{ review.updated_at }}
            </div>
          </div>
        </div>
        <loader v-if="isLoading"></loader>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions, mapMutations } from 'vuex';
import tinymce from 'tinymce';
import Loader from '../Base/Loader';
import '../../../../../../node_modules/tinymce/themes/modern';

export default {
  components: {
    Loader,
  },

  data() {
    return {
      isLoading: true,
      tinymceActivated: true,
      buttonAlias: 'Tambah',
      alias: ['Tambah', 'Menambahkan...', 'Perbarui', 'Memperbarui...'],
      isVerified: false,
    };
  },

  computed: {
    ...mapState({
      loggedUser: state => state.loggedUser.data,
      review: state => state.review.active,
      paper: state => state.paper.active,
    }),

    reviewComment() {
      return this.review.id && this.review.verified_by != null ? this.review.comment : '<p style="color: #999;">Belum terdapat ulasan untuk paper ini.<p>';
    },
  },

  methods: {
    ...mapActions({
      storeReview: 'review/store',
      fetchReview: 'review/fetch',
      updateReview: 'review/update',
      setEmptyReview: 'review/setEmpty',
    }),

    save() {
      this.buttonAlias = this.alias[(0*2)+1];
      const review = {
        paper_id: this.$route.params.id,
        reviewed_by: this.loggedUser.role.id == 2 ? this.loggedUser.id : null,
        verified_by: null,
        comment: tinymce.activeEditor.getContent(),
      };
      this.storeReview(review)
        .then(() => {
          this.buttonAlias = this.alias[(1*2)+0];
        })
        .catch(err => {
          console.log(err);
        });
    },

    update() {
      this.buttonAlias = this.alias[(1*2)+1];
      const review = {
        id: this.review != null ? this.review.id : null,
        paper_id: this.$route.params.id,
        reviewed_by: this.loggedUser.role.id == 2 ? this.loggedUser.id : null,
        comment: tinymce.activeEditor.getContent(),
      };
      this.updateReview(review)
        .then(() => {
          this.buttonAlias = this.alias[(1*2)+0];
        })
        .catch(err => {
          console.log(err);
        });
    },

    toggleVerified() {
      if (this.loggedUser.role.id == 1) {        
        const review = {
          id: this.review != null ? this.review.id : null,
          paper_id: this.$route.params.id,
          verified_by: !this.isVerified ? this.loggedUser.id : null,
        };

        this.updateReview(review)
          .then(() => {
            this.isVerified = !this.isVerified;
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  },

  watch: {
    paper() {
      if (this.paper.review) {
        this.fetchReview(this.paper.review.id)
          .then(() => {
            this.isVerified = this.review.verified_by != null ? true : false;
            
            this.buttonAlias = this.alias[(1*2)+0];

            if (this.loggedUser.role.id == 1 || this.loggedUser.role.id == 2)
              tinymce.activeEditor.setContent(this.review.comment);
            else
              this.tinymceActivated = false;

            if (this.loggedUser.role.id == 2 && (this.review.reviewed_by.id != null && this.review.reviewed_by.id != this.loggedUser.id)) {
              this.tinymceActivated = false;
            }
            this.isLoading = false;
          })
          .catch(err => {
            console.log(err);
          });
      }else{
        if (this.loggedUser.role.id != 1 && this.loggedUser.role.id != 2)
          this.tinymceActivated = false;
        this.isLoading = false;
      }
    }
  },

  mounted() {
    this.setEmptyReview();
    if (this.loggedUser.role.id == 1 || this.loggedUser.role.id == 2) {
      tinymce.init({
        target: this.$refs.content,
        height: 250,
        menubar: 'format',
        toolbar: 'bold, italic, underline, strikethrough, alignleft, aligncenter, alignright, alignjustify, cut, copy, paste, bullist, numlist, blockquote, undo, redo, removeformat, subscript, superscript',
        block_formats: 'Paragraph=p;Heading 1=h1;Heading 2=h2;Heading 3=h3;Heading 4=h4;Heading 5=h5',
      });
    }
  },
}
</script>