<template>      
  <div>
    <table v-if="papersList.length > 0">
      <thead>
        <tr>
          <th v-for="header in tableHeaders">{{ header.label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="paper in papersList">
          <td>{{ paper.id }}</td>
          <td>{{ paper.title }}</td>
          <td>{{ paper.registrar }}</td>          
        </tr>
      </tbody>
    </table>
    <p v-if="papersList.length <= 0">Belum ada paper dalam daftar paper dalam proceeding.</p>
    <loader v-if="loading"></loader>
  </div>    
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';

export default {
  components: {
    Loader,
    DataTable,
  },

  data() {
    return {
      loading: true,
      tableHeaders: [
        { label: 'ID' },
        { label: 'Judul' },
        { label: 'Pemakalah' },
      ],      
    };
  },

  computed: {
    ...mapState({
      papers: state => state.paper.data,
    }),

    papersList() {
      let mappedPapers = this.papers.map(paper => ({
        id: paper.id,
        registrar: paper.registrar.full_name,
        title: paper.title,
      }));
      
      return mappedPapers;
    },
  },

  methods: {
    ...mapActions({
      fetchPapersProceeding: 'paper/fetchProceeding',
    }),

    fetchPapersHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        this.fetchPapersProceeding()
          .then(res => {
            this.loading = false;
            resolve();
          })
          .catch(err => {
            reject(err);
          });
      });
    },
  },

  mounted() {
    this.fetchPapersHandler();
  },
};
</script>
