<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Informasi Pendaftar</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label>Email</label>
            <input :value="this.registrar.user != null ? this.registrar.user.email : ''" type="text" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label>Nama Lengkap</label>
            <input v-model="registrar.full_name" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Telepon</label>
            <input v-model="registrar.phone" type="text" class="form-control" maxlength="12">
          </div>
          <div class="form-group">
            <label>Alamat</label>
            <textarea v-model="registrar.address" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Institusi</label>
            <input v-model="registrar.organization" :readonly="isUAJY" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Alamat Institusi</label>
            <textarea v-model="registrar.organization_address" :readonly="isUAJY" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Paket</label>
            <select
              v-model="selectedProductIds[0]"
              class="form-control"
              :disabled="1"
            >
              <option
                v-for="product in products"
                :value="product.id"
                v-text="product.name"
              >                     
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Paket Tambahan</label>
            <additional-products
              :productIds="selectedProductIds"
              :isDisabled="transaction.id"
              :excludes="[6]"
              v-on:setProductIds="setSelectedProductIds">
            </additional-products>
          </div>
          <div v-if="selectedProductIds.includes(4)" class="form-group">
            <label>Jumlah Proceeding Cetak</label>
            <input v-model="proceedingQty" :isDisabled="transaction.id" type="number" min="1" class="form-control">
          </div>
          <div class="form-group">
            <button @click="save" type="button" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div>
        <loader v-if="loadingState"></loader>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Perhitungan Biaya</h3>
        </div>
        <div class="box-body">
          <cost-calculation
            :productIds="selectedProductIds"
            :proceedingQty="parseInt(totalProceedingQty)"
            :paperQty="countPaper"
            :subRegistrarQty="parseInt(countSubRegistrar)"
            :subRegistrarProducts="subRegistrarProducts"
            v-on:setCalculatedTotal="setCalculatedTotal"
            >
          </cost-calculation>
        </div>
        <loader v-if="loadingState"></loader>
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Informasi / Pembayaran</h3>
        </div>
        <div class="box-body">
          <div v-if="isAllowedToPay">
            <div style="margin-bottom: 20px;">
              <p>Pembayaran dapat dilakukan dengan transfer sebesar <b>Rp {{ formatPrice(calculateTotal) }}</b> ke rekening <b>Bank CIMB Niaga 703095534300 Atas Nama Stephanie Pamela Adithama</b></p>
            </div>
            <receipt-uploader v-on:storeReceipt="storeReceipt" v-on:removeReceipt="removeReceipt"></receipt-uploader>
          </div>
          <div v-else>
            <div style="margin-bottom: 20px;">
              <p>Pengunggahan Full Paper pada <b>1 Desember 2018 - 1 Februari 2019</b></p>
              <p>Penerimaan Full Paper dan Hasil Review pada <b>8 Februari 2019</b></p>
              <p>Batas Akhir Pengunggahan Camera Ready Paper pada <b>15 Februari 2019</b></p>
              <p>Pembayaran dapat dilakukan setelah ada pengumuman bahwa full paper diterima.</p>
              <p>Pembayaran dapat dilakukan bersamaan dengan pengunggahan camera ready paper.</p>
              <p>Total biaya disesuaikan dengan tagihan yang diterima atau informasi pembayaran yang tertera di akun masing-masing.</p>
            </div>
          </div>
        </div>
        <loader v-if="loadingState"></loader>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import numeral from 'numeral';
import Loader from '../../Base/Loader';
import SelectMulti from '../../Form/SelectMulti';
import CostCalculation from '../../Form/CostCalculation';
import AdditionalProducts from '../../Form/AdditionalProducts';
import ReceiptUploader from '../../Form/ReceiptUploader';

export default {
  components: {
    Loader,
    SelectMulti,
    CostCalculation,
    AdditionalProducts,
    ReceiptUploader,
  },

  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    editing: {
      type: Boolean,
      default: false,
    },
    saveHandler: {
      type: Function,
      required: true,
    },
  },

  data() {
    return {
      loadingState: this.loading,
      selectedProductIds: [],
      subRegistrarProducts: [],
      calculateTotal: 0,
      proceedingQty: 1,
    };
  },

  computed: {
    ...mapState({
      registrar: state => state.registrar.active,
      products: state => state.product.data,
      transaction: state => state.transaction.active,
      //countPaper: state => state.paper.count,
      countSubRegistrar: state => state.registrar.count,
      subRegistrars: state => state.registrar.data,
      papers: state => state.paper.data,
    }),

    hasSubRegistrars() {
      return this.registrar.sub_registrars.length > 0;
    },

    productsList() {
      return this.products.map(product => ({
        id: product.id,
        text: product.name,
      }));
    },

    isUAJY() {
      if (this.registrar.organization == "Universitas Atma Jaya Yogyakarta") {
        return true;
      }else{
        return false;
      }
    },

    transactionDetails() {
      let details = this.registrar.products.map(product => ({
        name: product.name,
        qty: product.pivot.qty != null ? parseInt(product.pivot.qty) : 1,
        price: parseInt(product.price),
        discount: product.pivot.discount != null ? parseInt(product.pivot.discount) : 0,
        subtotal: ((parseInt(product.price)*(product.pivot.qty != null ? parseInt(product.pivot.qty) : 1))-parseInt(product.pivot.discount != null ? parseInt(product.pivot.discount) : 0))
      }));

      if (this.subRegistrarProducts.length > 0) {
        this.subRegistrarProducts.forEach(value => {
          details.push({
            name: value.name,
            qty: value.qty,
            price: value.price,
            discount: 0,
            subtotal: value.total,
          });
        });
      }
      return details;
    },

    total() {
      let total = 0;
      this.transactionDetails.forEach((e) => {
        total += e.subtotal;
      });
      return total;
    },

    isAllowedToPay() {
      if (!this.selectedProductIds.includes(1) && !this.selectedProductIds.includes(2)) {
        return true;
      }else{
        let counter = 0
        this.papers.forEach(value => {
          if (value.logs[0].id >= 3)
            counter++;
        });
        if (counter != 0) {
          if (counter == this.papers.length)
            return true;
        }
        return false;
      }
    },

    countPaper() {
      // let counter = 0;
      // this.papers.forEach(value => {
      //   if (value.logs[0].id >= 6)
      //     counter++;
      // });
      // return counter;
      return this.papers.length;
    },

    additionalProceedingsQty() {
      const additionalProceedings = this.subRegistrars
        .reduce((carry, item) => {
          return [
            ...carry,
            ...item.products,
          ]
        }, [])
        .filter(item => item.id === 4)

      return additionalProceedings.length
    },

    totalProceedingQty() {
      return parseInt(this.proceedingQty, 10) + this.additionalProceedingsQty
    }
  },

  methods: {
    ...mapActions({
      fetchRegistrar: 'registrar/fetch',
      fetchProducts: 'product/fetchAll',
      storeTransaction: 'transaction/store',
      fetchTransaction: 'transaction/fetch',
      destroyTransaction: 'transaction/destroy',
      countByRegistrarPaper: 'paper/countByRegistrar',
      countByRegistrarSubRegistrar: 'registrar/countSubRegistrarByRegistrar',
      fetchPapers: 'paper/fetchByRegistrar',
    }),

    formatPrice(price) {
      return numeral(price).format('0,0');
    },

    fetchRegistrarHandler() {
      this.loadingState = true;
      return new Promise((resolve, reject) => {
        this.fetchProducts()
          .then(() => {
            this.fetchRegistrar(this.$route.params.id)
              .then(res => {
                this.selectedProductIds = this.registrar.products.map(product => product.id);
                this.setProceedingQty();
                this.fetchTransactionHandler();
                this.countByRegistrarPaper(this.$route.params.id);
                this.countByRegistrarSubRegistrar(this.$route.params.id);
                this.fetchPapers(this.$route.params.id);
                this.loadingState = false;
                resolve();
              })
              .catch(err => {
                reject(err);
              });
          })
          .catch(err => {
            reject(err);
          });
      });
    },

    fetchTransactionHandler() {
      this.loadingState = true;
      if (this.registrar.transaction != null) {
        return new Promise((resolve, reject) => {
          this.fetchTransaction(this.registrar.transaction.id)
            .then(() => {
              this.loadingState = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
        });
      }else{
        this.loadingState = false;
      }
    },

    save() {
      const registrar = {
        id: this.$route.params.id,
        full_name: this.registrar.full_name,
        phone: this.registrar.phone,
        address: this.registrar.address,
        organization: this.registrar.organization,
        organization_address: this.registrar.organization_address,
        product_id: this.selectedProductIds,
        proceeding_qty: this.totalProceedingQty,
        product_discount: 0,
      };

      this.saveHandler(registrar);
    },

    setSelectedProductIds(productIds) {
      this.selectedProductIds = productIds;
    },

    storeReceipt(payment_proof_id) {
      const transaction = {
        user_id: this.registrar.user.id,
        registrar_id: this.registrar.id,
        total: this.total,
        payment_proof_id: payment_proof_id,
        details: this.transactionDetails,
      };

      this.storeTransaction(transaction);
    },

    removeReceipt() {
      this.loadingState = true;
      return new Promise((resolve, reject) => {
        this.destroyTransaction(this.transaction.id)
          .then(() => {
            this.fetchRegistrarHandler();
            resolve();
          })
          .catch(err => {
            reject(err);
          });
      });
    },

    setCalculatedTotal(calculateTotal) {
      this.calculateTotal = calculateTotal;
    },

    setProceedingQty() {
      this.registrar.products.forEach((e) => {
        if (e.id == 4) {
          this.proceedingQty = e.pivot.qty;
        }
      });
    },
  },

  watch: {
    subRegistrars() {
      let tempArr = [];
      let tempObj = [];

      this.subRegistrars.forEach((subRegistrar) => {
        subRegistrar.products.forEach((product) => {
          tempArr.push(product);
        });
      });

      for (let i = 0; i < 3; i++) {
        tempObj[i] = {
          id: null,
          name: null,
          qty: 0,
          price: 0,
          total: 0,
        };
      }

      tempArr.forEach((value) => {
        switch(value.id) {
          case 5:
            tempObj[0].id = value.id;
            tempObj[0].name = value.name + " (Tambahan)";
            tempObj[0].qty += 1;
            tempObj[0].price = parseInt(value.price);
            tempObj[0].total += parseInt(value.price);
            break;
          case 6:
            tempObj[1].id = value.id;
            tempObj[1].name = value.name + " (Tambahan)";
            tempObj[1].qty += 1;
            tempObj[1].price = parseInt(value.price);
            tempObj[1].total += parseInt(value.price);
            break;
          case 8:
            tempObj[2].id = value.id;
            tempObj[2].name = value.name;
            tempObj[2].qty += 1;
            tempObj[2].price = parseInt(value.price);
            tempObj[2].total += parseInt(value.price);
            break;
        }
      });

      tempObj.forEach((value) => {
        if (value.id != null) {
          this.subRegistrarProducts.push(value);
        }
      });
    }
  },

  mounted() {
    this.fetchRegistrarHandler();
  },
};
</script>

<style>
.no-sub-registrars {
  text-align: center;
}
.select2-container {
  width: 100% !important;
}
</style>