<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Informasi Penulis Tambahan</h3>
        </div>
        <div class="box-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nama Lengkap</th>
                <th>Telpon</th>
                <th>Paket</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="registrar in subRegistrars" :key="registrar.id">
                <td>{{ registrar.full_name }}</td>
                <td>{{ registrar.phone }}</td>
                <td>{{ registrar.products }}</td>
              </tr>
              <tr v-if="!this.subRegistrars">
                <td colspan="3" class="no-sub-registrars">Belum ada peserta tambahan</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Penulis Tambahan</h3>
        </div>
        <div class="box-body">
          <p>Tesst</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      subRegistrars: state => state.registrar.active.sub_registrars,
    }),
  },
};
</script>
