<template>
  <div>
    <the-content-header title="Review"></the-content-header>
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Daftar Review</h3>
          <div class="pull-right">
            <button @click="fetchReviewsHandler()" type="button" class="btn btn-xs btn-success"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
          </div>
        </div>
        <div class="box-body">
          <data-table 
            :headers="tableHeaders" 
            :rows="reviewsList" 
            :controls="tableControls"
          ></data-table>
        </div>
        <loader v-if="loading"></loader>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import Loader from '../Base/Loader';
import DataTable from '../Table/DataTable';

export default {
  components: {
    TheContentHeader,
    Loader,
    DataTable,
  },

  data() {
    return {
      loading: true,
      tableHeaders: [
        { data: 'id', label: 'ID Paper' },
        { data: 'paper_title', label: 'Judul Paper' },
        { data: 'paper_status', label: 'Status Paper' },
        { data: 'comment', label: 'Hasil Review' },
        { data: 'verified_by', label: 'Verifikasi' },
      ],
      tableControls: [
        { onClick: this.editReviewHandler, class: 'btn btn-xs btn-primary', label: 'Lihat' },
      ],
    };
  },

  computed: {
    ...mapGetters({
      role: 'loggedUser/role',
    }),

    ...mapState({
      reviews: state => state.review.data,
      registrar: state => state.registrar.logged,
    }),

    reviewsList() {
      let mappedReviews = this.reviews.map(review => ({
        id: review.paper.id,
        paper_title: review.paper.title,
        paper_status: review.paper.logs != null ? review.paper.logs[0].name : '-',
        comment: review.comment,
        verified_by: review.verified_by != null ? '<span class="label label-success">Sudah</span>' : '<span class="label label-warning">Belum</span>',
      }));

      return mappedReviews;
    },
  },

  methods: {
    ...mapActions({
      fetchReviews: 'review/fetchAll',
      fetchReviewsByRegistrar: 'review/fetchByRegistrar',
    }),

    fetchReviewsHandler() {
      return new Promise((resolve, reject) => {
        this.loading = true;
        if (this.role.id != 4) {
          this.fetchReviews()
            .then(res => {
              this.loading = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
        }else{
          this.fetchReviewsByRegistrar(this.registrar.id)
            .then(res => {
              this.loading = false;
              resolve();
            })
            .catch(err => {
              reject(err);
            });
        }
      });
    },

    editReviewHandler(id) {
      this.$router.push({ name: 'papers.edit', params: { id: id } });
    },
  },

  mounted() {
    this.fetchReviewsHandler();
  },
};
</script>
