<template>
  <div>
    <the-content-header :title="title"></the-content-header>
  </div>
</template>

<script>
import TheContentHeader from '../Base/TheContentHeader';

export default {
  components: {
    TheContentHeader,
  },

  data() {
    return {
      title: 'Beranda',
    };
  },
};
</script>
