<template>
  <div>
    <the-content-header title="Profil"></the-content-header>
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Ganti Kata Sandi</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="form-group">
                <label>Kata sandi lama</label>
                <input
                  v-model="password"
                  @input="$v.password.$touch()"
                  type="password" 
                  class="form-control"
                >
                <span
                  v-if="$v.password.$dirty && !$v.password.required"
                  class="help-block"
                >
                  Kolom ini tidak boleh kosong
                </span>
                <span
                  v-if="passwordMismatch"
                  class="help-block"
                >
                  Kata sandi salah
                </span>
              </div>
              <div class="form-group">
                <label>Kata sandi baru</label>
                <input
                  v-model="new_password"
                  @input="$v.new_password.$touch()"
                  type="password" 
                  class="form-control"
                >
                <span
                  v-if="$v.password.$dirty && !$v.new_password.required"
                  class="help-block"
                >
                  Kolom ini tidak boleh kosong
                </span>
              </div>
              <div class="form-group">
                <label>Konfirmasi kata sandi baru</label>
                <input
                  v-model="new_password_conf"
                  @input="$v.new_password_conf.$touch()"
                  type="password" 
                  class="form-control"
                >
                <span
                  v-if="$v.password.$dirty && !$v.new_password_conf.required"
                  class="help-block"
                >
                  Kolom ini tidak boleh kosong
                </span>
                <span
                  v-if="$v.password.$dirty && !$v.new_password_conf.sameAsPassword"
                  class="help-block"
                >
                  Kata sandi tidak cocok
                </span>
              </div>
              <div class="form-group">
                <button
                  :disabled="$v.$invalid"
                  @click="save" 
                  class="btn btn-primary"
                >
                  Simpan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import TheContentHeader from '../Base/TheContentHeader';
import validator from '../../../validators/changePassword';

export default {
  components: {
    TheContentHeader,
  },

  data() {
    return {
      password: '',
      new_password: '',
      new_password_conf: '',
      passwordMismatch: false,
    };
  },

  validations: validator,

  methods: {
    ...mapActions({
      changePassword: 'loggedUser/changePassword',
    }),

    save() {
      const payload = {
        password: this.password,
        new_password: this.new_password,
        new_password_conf: this.new_password_conf,
      };

      this.changePassword(payload)
        .then(res => {
          this.$router.push({ name: 'index' });
        })
        .catch(err => {
          if (err.status === 422) {
            this.passwordMismatch = true;
          }
        });
    },
  },
};
</script>
